test(3).json
{
  "name": "test",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const extractTextFromResponse = (response) => {\n  if (Array.isArray(response) && response.length > 0) {\n    const firstItem = response[0];\n    const textPart = firstItem.content?.parts?.[0];\n    if (textPart?.text) return textPart.text.trim();\n  }\n  if (response.candidates && response.candidates.length > 0) {\n    const textPart = response.candidates[0].content?.parts?.find(part => part.text);\n    if (textPart?.text) return textPart.text.trim();\n  }\n  if (response.content?.parts?.length > 0) {\n    const textPart = response.content.parts[0];\n    if (textPart?.text) return textPart.text.trim();\n  }\n  return null;\n};\n\nconst cleanJsonText = (text) => {\n  let cleaned = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n  return jsonMatch ? jsonMatch[0] : cleaned;\n};\n\nconst parseMetadata = (text) => {\n  try {\n    const meta = JSON.parse(text);\n    if (!meta || typeof meta !== 'object') {\n      return { error: 'Parsed result is not an object', raw: meta };\n    }\n    return {\n      youtube_title: meta.youtube_title ? String(meta.youtube_title).trim() : '',\n      youtube_description: meta.youtube_description ? String(meta.youtube_description).trim() : '',\n      raw: meta\n    };\n  } catch (e) {\n    return { error: `Parse error: ${e.message}`, rawText: text.substring(0, 400) };\n  }\n};\n\nconst response = $input.item.json;\n\nif (response.error) {\n  return {\n    json: {\n      youtube_title: '',\n      youtube_description: '',\n      error: `API Error: ${response.error.message || JSON.stringify(response.error)}`,\n      valid: false,\n      raw: response\n    }\n  };\n}\n\nconst rawText = extractTextFromResponse(response);\nif (!rawText) {\n  return {\n    json: {\n      youtube_title: '',\n      youtube_description: '',\n      error: 'No text found in response',\n      valid: false,\n      raw: response\n    }\n  };\n}\n\nconst cleanedText = cleanJsonText(rawText);\nconst parsed = parseMetadata(cleanedText);\n\nif (parsed.error) {\n  return {\n    json: {\n      youtube_title: '',\n      youtube_description: '',\n      error: parsed.error,\n      valid: false,\n      rawText: parsed.rawText,\n      raw: parsed.raw\n    }\n  };\n}\n\nreturn {\n  json: {\n    youtube_title: parsed.youtube_title,\n    youtube_description: parsed.youtube_description,\n    error: null,\n    valid: !!(parsed.youtube_title && parsed.youtube_description),\n    raw: parsed.raw\n  }\n};"
      },
      "id": "2ecda539-bc08-4659-9176-5a7a97ab9a92",
      "name": "Parse Video Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -608
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1888,
        -912
      ],
      "id": "817de689-0341-4549-b529-b83723b256e2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1492578399,
          "mode": "list",
          "cachedResultName": "videos_template.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI/edit#gid=1492578399"
        },
        "options": {}
      },
      "id": "036646b3-e91e-4a7f-8ede-b0d8f0aaa6e8",
      "name": "Get Video Information",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1680,
        -912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdFF9k2O5WBsk28B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const generateUuid = () => {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n};\n\nconst row = $('Get Video Information').item.json;\n\nif (!row.id || !row.video_url) {\n  throw new Error('Missing required field: id or video_url');\n}\n\nreturn {\n  json: {\n    id: row.id,\n    video_title: row.video_title,\n    video_url: row.video_url,\n    driveUuid: generateUuid()\n  }\n};"
      },
      "id": "6ab22620-e892-486c-a2c4-4b679c165265",
      "name": "Extract Video URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        -848
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=yt-dlp --no-playlist --print \"%(title)s|%(uploader)s|%(description)s\" --no-warnings \"{{ $('Extract Video URL').item.json.video_url }}\" 2>/dev/null || echo \"ERROR|ERROR|ERROR\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -416,
        -848
      ],
      "id": "a279ac55-aa92-47ec-ae74-eb9134c7611b",
      "name": "Extract YouTube Metadata",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const parseYouTubeMetadata = (stdout) => {\n  if (!stdout) return { title: '', description: '' };\n  const parts = stdout.trim().split('|');\n  if (parts.length < 3) return { title: '', description: '' };\n  return {\n    title: parts[0].trim(),\n    description: parts[2].trim().substring(0, 500)\n  };\n};\n\nconst row = $('Get Video Information').item.json;\nconst extractResult = $('Extract YouTube Metadata').item.json;\nconst extractUrl = $('Extract Video URL').item.json;\n\nconst ytMeta = parseYouTubeMetadata(extractResult.stdout);\nconst videoTitle = row.video_title && row.video_title.trim() ? row.video_title.trim() : ytMeta.title;\n\nif (!videoTitle) {\n  throw new Error('Cannot extract video title from YouTube');\n}\n\nreturn {\n  json: {\n    ...extractUrl,\n    video_title: videoTitle,\n    youtube_metadata: {\n      title: ytMeta.title,\n      description: ytMeta.description\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -768
      ],
      "id": "f995e81c-84ab-42fd-be6a-8b2024ea93da",
      "name": "Merge YouTube Metadata",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=VIDEO_ID=\"{{ $('Merge YouTube Metadata').item.json.id }}\"\nrm -f \"/home/node/downloads/${VIDEO_ID}.mp4\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        48,
        -848
      ],
      "id": "453ab9a0-2bbb-4400-8c94-0295cfdfc191",
      "name": "Clear Old Files",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=PATH=\"/home/node/.local/bin:$PATH\" yt-dlp --no-playlist -f \"bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best\" --merge-output-format mp4 --no-part -o \"/home/node/downloads/{{ $('Merge YouTube Metadata').item.json.id }}.mp4\" \"{{ $('Merge YouTube Metadata').item.json.video_url }}\" 2>&1 || PATH=\"/home/node/.local/bin:$PATH\" yt-dlp --no-playlist -f \"best[ext=mp4]/best\" --merge-output-format mp4 --no-part -o \"/home/node/downloads/{{ $('Merge YouTube Metadata').item.json.id }}.mp4\" \"{{ $('Merge YouTube Metadata').item.json.video_url }}\" 2>&1\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        352,
        -848
      ],
      "id": "1dfdcffa-df0c-441d-b0fa-5800888bd4a5",
      "name": "Download Video",
      "continueOnFail": true
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/downloads/{{ $('Merge YouTube Metadata').item.json.id }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        560,
        -848
      ],
      "id": "71e58736-89e0-47e9-9b58-b8e268428afc",
      "name": "Read Video File",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "for (const item of $input.all()) {\n  delete item.binary;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -848
      ],
      "id": "17ab001c-8aa2-4c1b-988c-bac0908c19b1",
      "name": "Remove Binary After Read Video",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -i \"/home/node/downloads/{{ $('Merge YouTube Metadata').item.json.id }}.mp4\" -vf \"select=eq(n\\,0)\" -q:v 3 \"/home/node/downloads/frame_{{ $('Merge YouTube Metadata').item.json.id }}.jpg\" 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        992,
        -848
      ],
      "id": "7e71a6d8-6e85-4bc4-a168-91f25a46737f",
      "name": "Extract Frame",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\n\nVIDEO_ID=\"{{ $('Merge YouTube Metadata').first().json.id }}\"\nFILE_NAME=\"{{ $('Read Video File').first().binary.data.fileName }}\"\nDETECT_OUTPUT=\"{{ $('Detect Logo (YOLO)').item.json.stdout }}\"\nNEW_LOGO_URL=\"{{ $('Get Video Information').first().json.new_logo_url || '' }}\"\nOUTPUT_FILE=\"/home/node/downloads/${VIDEO_ID}_processed.mp4\"\nVIDEO_INPUT=\"/home/node/downloads/${FILE_NAME}\"\nLOGO_INPUT=\"/home/node/downloads/logo_${VIDEO_ID}.png\"\n\nif [ ! -f \"$VIDEO_INPUT\" ]; then\n  echo \"Error: Video file not found: $VIDEO_INPUT\" >&2\n  exit 1\nfi\n\nif [ ! -f \"$LOGO_INPUT\" ]; then\n  if [ -z \"$NEW_LOGO_URL\" ] || [ \"$NEW_LOGO_URL\" = \"\" ]; then\n    echo \"Error: Logo file not found and new_logo_url is empty: $LOGO_INPUT\" >&2\n    exit 1\n  fi\n  \n  echo \"Downloading logo from: $NEW_LOGO_URL\"\n  \n  if echo \"$NEW_LOGO_URL\" | grep -q \"drive.google.com\"; then\n    FILE_ID=\"\"\n    FILE_ID=$(echo \"$NEW_LOGO_URL\" | sed -n 's/.*\\/d\\/\\([^\\/]*\\)\\/.*/\\1/p' | head -1)\n    if [ -z \"$FILE_ID\" ]; then\n      FILE_ID=$(echo \"$NEW_LOGO_URL\" | sed -n 's/.*[?&]id=\\([^&]*\\).*/\\1/p' | head -1)\n    fi\n    if [ -z \"$FILE_ID\" ]; then\n      if echo \"$NEW_LOGO_URL\" | grep -qE '^[a-zA-Z0-9_-]+$'; then\n        FILE_ID=\"$NEW_LOGO_URL\"\n      fi\n    fi\n    if [ -n \"$FILE_ID\" ]; then\n      NEW_LOGO_URL=\"https://drive.google.com/uc?export=download&id=${FILE_ID}\"\n    fi\n  fi\n  \n  wget -O \"$LOGO_INPUT\" \"$NEW_LOGO_URL\" || {\n    echo \"Error: Failed to download logo from: $NEW_LOGO_URL\" >&2\n    exit 1\n  }\n  \n  if [ ! -f \"$LOGO_INPUT\" ] || [ ! -s \"$LOGO_INPUT\" ]; then\n    echo \"Error: Downloaded logo file is empty or not found: $LOGO_INPUT\" >&2\n    exit 1\n  fi\nfi\n\nDETECT_JSON=$(echo \"$DETECT_OUTPUT\" | grep -o '\\{[^}]*\"logos\"[^}]*\\}' | head -1 || echo '{\"logos\":[],\"count\":0}')\n\nif command -v jq >/dev/null 2>&1; then\n  LOGO_COUNT=$(echo \"$DETECT_JSON\" | jq -r '.count // 0')\n  if [ \"$LOGO_COUNT\" -gt 0 ]; then\n    X=$(echo \"$DETECT_JSON\" | jq -r '.logos[0].x // 0')\n    Y=$(echo \"$DETECT_JSON\" | jq -r '.logos[0].y // 0')\n    WIDTH=$(echo \"$DETECT_JSON\" | jq -r '.logos[0].width // 0')\n    HEIGHT=$(echo \"$DETECT_JSON\" | jq -r '.logos[0].height // 0')\n    OLD_LOGO_FOUND=\"true\"\n  else\n    X=0\n    Y=0\n    WIDTH=0\n    HEIGHT=0\n    OLD_LOGO_FOUND=\"false\"\n  fi\nelse\n  if echo \"$DETECT_JSON\" | grep -q '\"count\":[1-9]'; then\n    X=$(echo \"$DETECT_JSON\" | grep -o '\"x\":[0-9]*' | head -1 | grep -o '[0-9]*' || echo '0')\n    Y=$(echo \"$DETECT_JSON\" | grep -o '\"y\":[0-9]*' | head -1 | grep -o '[0-9]*' || echo '0')\n    WIDTH=$(echo \"$DETECT_JSON\" | grep -o '\"width\":[0-9]*' | head -1 | grep -o '[0-9]*' || echo '0')\n    HEIGHT=$(echo \"$DETECT_JSON\" | grep -o '\"height\":[0-9]*' | head -1 | grep -o '[0-9]*' || echo '0')\n    OLD_LOGO_FOUND=\"true\"\n  else\n    X=0\n    Y=0\n    WIDTH=0\n    HEIGHT=0\n    OLD_LOGO_FOUND=\"false\"\n  fi\nfi\n\nVIDEO_WIDTH=$(ffprobe -v error -select_streams v:0 -show_entries stream=width  -of csv=p=0 \"$VIDEO_INPUT\")\nVIDEO_HEIGHT=$(ffprobe -v error -select_streams v:0 -show_entries stream=height -of csv=p=0 \"$VIDEO_INPUT\")\nVIDEO_WIDTH=${VIDEO_WIDTH:-0}\nVIDEO_HEIGHT=${VIDEO_HEIGHT:-0}\n\nOLD_LOGO_OK=false\nif [ \"$OLD_LOGO_FOUND\" = \"true\" ] && [ \"$WIDTH\" -gt 0 ] && [ \"$HEIGHT\" -gt 0 ] && [ \"$X\" -ge 0 ] && [ \"$Y\" -ge 0 ]; then\n  if [ \"$VIDEO_WIDTH\" -gt 0 ] && [ \"$VIDEO_HEIGHT\" -gt 0 ]; then\n    if [ $((X + WIDTH)) -le \"$VIDEO_WIDTH\" ] && [ $((Y + HEIGHT)) -le \"$VIDEO_HEIGHT\" ]; then\n      OLD_LOGO_OK=true\n    fi\n  else\n    OLD_LOGO_OK=true\n  fi\nfi\n\nif [ \"$OLD_LOGO_OK\" = \"true\" ]; then\n    EXPAND=15\n  DELOGO_X=$((X - EXPAND))\n  DELOGO_Y=$((Y - EXPAND))\n  DELOGO_W=$((WIDTH + EXPAND * 2))\n  DELOGO_H=$((HEIGHT + EXPAND * 2))\n\n  if [ \"$DELOGO_X\" -lt 0 ]; then DELOGO_X=0; fi\n  if [ \"$DELOGO_Y\" -lt 0 ]; then DELOGO_Y=0; fi\n\n  if [ \"$VIDEO_WIDTH\" -gt 0 ] && [ $((DELOGO_X + DELOGO_W)) -gt \"$VIDEO_WIDTH\" ]; then\n    DELOGO_W=$((VIDEO_WIDTH - DELOGO_X))\n  fi\n  if [ \"$VIDEO_HEIGHT\" -gt 0 ] && [ $((DELOGO_Y + DELOGO_H)) -gt \"$VIDEO_HEIGHT\" ]; then\n    DELOGO_H=$((VIDEO_HEIGHT - DELOGO_Y))\n  fi\n\n  SCALE_WIDTH_NUM=3\n  SCALE_WIDTH_DEN=2\n  SCALE_HEIGHT_NUM=12\n  SCALE_HEIGHT_DEN=5\n  NEW_WIDTH=$((WIDTH * SCALE_WIDTH_NUM / SCALE_WIDTH_DEN))\n  NEW_HEIGHT=$((HEIGHT * SCALE_HEIGHT_NUM / SCALE_HEIGHT_DEN))\n\n  OFFSET_X=$(((NEW_WIDTH - WIDTH) / 2))\n  OFFSET_Y=$(((NEW_HEIGHT - HEIGHT) / 2))\n  NEW_X=$((X - OFFSET_X))\n  NEW_Y=$((Y - OFFSET_Y))\n\n  if [ \"$NEW_X\" -lt 0 ]; then NEW_X=0; fi\n  if [ \"$NEW_Y\" -lt 0 ]; then NEW_Y=0; fi\n\n  nice -n 10 ffmpeg -y \\\n    -i \"$VIDEO_INPUT\" \\\n    -i \"$LOGO_INPUT\" \\\n    -filter_complex \"[0:v]delogo=x=${DELOGO_X}:y=${DELOGO_Y}:w=${DELOGO_W}:h=${DELOGO_H}[v0];[v0]drawbox=x=${X}:y=${Y}:w=${WIDTH}:h=${HEIGHT}:color=black@0.98:t=fill[v1];[1:v]scale=${NEW_WIDTH}:${NEW_HEIGHT}[logo];[v1][logo]overlay=${NEW_X}:${NEW_Y}[v]\" \\\n    -map \"[v]\" -map 0:a? \\\n    -c:v libx264 -preset veryfast -crf 25 \\\n    -c:a copy \\\n    \"$OUTPUT_FILE\"\nelse\n  DEFAULT_LOGO_WIDTH=220\n  DEFAULT_LOGO_HEIGHT=110\n  PADDING=10\n\n  nice -n 10 ffmpeg -y \\\n    -i \"$VIDEO_INPUT\" \\\n    -i \"$LOGO_INPUT\" \\\n    -filter_complex \"[1:v]scale=${DEFAULT_LOGO_WIDTH}:${DEFAULT_LOGO_HEIGHT}[logo];[0:v][logo]overlay=W-w-${PADDING}:${PADDING}[v]\" \\\n    -map \"[v]\" -map 0:a? \\\n    -c:v libx264 -preset veryfast -crf 25 \\\n    -c:a copy \\\n    \"$OUTPUT_FILE\"\nfi\n\nif [ ! -f \"$OUTPUT_FILE\" ]; then\n  echo \"Error: Output file not created!\" >&2\n  exit 1\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1344,
        -848
      ],
      "id": "5f61aeed-34bc-49f3-beff-a3eebaa1d1d8",
      "name": "Process Video",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\n\nVIDEO_ID=\"{{ $('Merge YouTube Metadata').first().json.id }}\"\nINTRO_VIDEO_URL=\"{{ $('Get Video Information').first().json.intro_background_url || '' }}\"\n\nVIDEO_INPUT=\"/home/node/downloads/${VIDEO_ID}_processed.mp4\"\nVIDEO_OUTPUT=\"/home/node/downloads/${VIDEO_ID}_processed.mp4\"\nVIDEO_OUTPUT_TEMP=\"/home/node/downloads/${VIDEO_ID}_processed_temp.mp4\"\nOUTPUT_DIR=\"/home/node/downloads\"\n\nif [ ! -f \"$VIDEO_INPUT\" ]; then\n  echo \"Error: Processed video file not found: $VIDEO_INPUT\" >&2\n  exit 1\nfi\n\nif [ -z \"$INTRO_VIDEO_URL\" ] || [ \"$INTRO_VIDEO_URL\" = \"\" ]; then\n  cp \"$VIDEO_INPUT\" \"$VIDEO_OUTPUT\"\n  exit 0\nfi\n\nINTRO_VIDEO=\"${OUTPUT_DIR}/intro_${VIDEO_ID}.mp4\"\n\nif echo \"$INTRO_VIDEO_URL\" | grep -q \"drive.google.com\"; then\n  FILE_ID=\"\"\n  FILE_ID=$(echo \"$INTRO_VIDEO_URL\" | sed -n 's/.*\\/d\\/\\([^\\/]*\\)\\/.*/\\1/p' | head -1)\n  if [ -z \"$FILE_ID\" ]; then\n    FILE_ID=$(echo \"$INTRO_VIDEO_URL\" | sed -n 's/.*[?&]id=\\([^&]*\\).*/\\1/p' | head -1)\n  fi\n  if [ -z \"$FILE_ID\" ]; then\n    if echo \"$INTRO_VIDEO_URL\" | grep -qE '^[a-zA-Z0-9_-]+$'; then\n      FILE_ID=\"$INTRO_VIDEO_URL\"\n    fi\n  fi\n  if [ -n \"$FILE_ID\" ]; then\n    INTRO_VIDEO_URL=\"https://drive.google.com/uc?export=download&id=${FILE_ID}\"\n  fi\nfi\n\necho \"Downloading intro video from: $INTRO_VIDEO_URL\"\nwget -O \"$INTRO_VIDEO\" \"$INTRO_VIDEO_URL\" || {\n  echo \"Error: Failed to download intro video\"\n  exit 1\n}\n\nif [ ! -f \"$INTRO_VIDEO\" ] || [ ! -s \"$INTRO_VIDEO\" ]; then\n  echo \"Error: Intro video file is empty or not found\"\n  exit 1\nfi\n\nMAIN_W=$(ffprobe -v error -select_streams v:0 -show_entries stream=width  -of csv=p=0 \"$VIDEO_INPUT\")\nMAIN_H=$(ffprobe -v error -select_streams v:0 -show_entries stream=height -of csv=p=0 \"$VIDEO_INPUT\")\nMAIN_FPS=$(ffprobe -v error -select_streams v:0 -show_entries stream=r_frame_rate -of csv=p=0 \"$VIDEO_INPUT\")\nMAIN_HAS_AUDIO=$(ffprobe -v error -select_streams a:0 -count_frames -show_entries stream=codec_name -of csv=p=0 \"$VIDEO_INPUT\" 2>/dev/null || true)\n\nINTRO_TEMP=\"${OUTPUT_DIR}/intro_scaled_${VIDEO_ID}.mp4\"\n\nif [ -n \"$MAIN_HAS_AUDIO\" ]; then\n  INTRO_HAS_AUDIO=$(ffprobe -v error -select_streams a:0 -count_frames -show_entries stream=codec_name -of csv=p=0 \"$INTRO_VIDEO\" 2>/dev/null || true)\n  if [ -n \"$INTRO_HAS_AUDIO\" ]; then\n    ffmpeg -y \\\n      -i \"$INTRO_VIDEO\" \\\n      -vf \"scale=${MAIN_W}:${MAIN_H}:force_original_aspect_ratio=decrease,pad=${MAIN_W}:${MAIN_H}:(ow-iw)/2:(oh-ih)/2:color=black,fps=${MAIN_FPS}\" \\\n      -af \"aresample=48000:resampler=soxr\" \\\n      -c:v libx264 -preset veryfast -crf 23 -pix_fmt yuv420p \\\n      -c:a aac -ar 48000 -ac 2 -b:a 128k \\\n      \"$INTRO_TEMP\"\n  else\n    ffmpeg -y \\\n      -i \"$INTRO_VIDEO\" \\\n      -f lavfi -i anullsrc=channel_layout=stereo:sample_rate=48000 \\\n      -vf \"scale=${MAIN_W}:${MAIN_H}:force_original_aspect_ratio=decrease,pad=${MAIN_W}:${MAIN_H}:(ow-iw)/2:(oh-ih)/2:color=black,fps=${MAIN_FPS}\" \\\n      -c:v libx264 -preset veryfast -crf 23 -pix_fmt yuv420p \\\n      -c:a aac -ar 48000 -ac 2 -b:a 128k \\\n      -shortest \\\n      \"$INTRO_TEMP\"\n  fi\nelse\n  ffmpeg -y \\\n    -i \"$INTRO_VIDEO\" \\\n    -vf \"scale=${MAIN_W}:${MAIN_H}:force_original_aspect_ratio=decrease,pad=${MAIN_W}:${MAIN_H}:(ow-iw)/2:(oh-ih)/2:color=black,fps=${MAIN_FPS}\" \\\n    -c:v libx264 -preset veryfast -crf 23 -pix_fmt yuv420p \\\n    \"$INTRO_TEMP\"\nfi\n\nif [ -n \"$MAIN_HAS_AUDIO\" ]; then\n  ffmpeg -y \\\n    -i \"$INTRO_TEMP\" -i \"$VIDEO_INPUT\" \\\n    -filter_complex \"[0:a]aresample=48000:resampler=soxr[a0];[0:v][a0][1:v][1:a]concat=n=2:v=1:a=1[outv][outa]\" \\\n    -map \"[outv]\" -map \"[outa]\" \\\n    -c:v libx264 -preset veryfast -crf 23 -pix_fmt yuv420p \\\n    -c:a aac -ar 48000 -ac 2 -b:a 128k \\\n    \"$VIDEO_OUTPUT_TEMP\"\nelse\n  ffmpeg -y \\\n    -i \"$INTRO_TEMP\" -i \"$VIDEO_INPUT\" \\\n    -filter_complex \"[0:v][1:v]concat=n=2:v=1[outv]\" \\\n    -map \"[outv]\" \\\n    -c:v libx264 -preset veryfast -crf 23 -pix_fmt yuv420p \\\n    \"$VIDEO_OUTPUT_TEMP\"\nfi\n\nif [ ! -f \"$VIDEO_OUTPUT_TEMP\" ]; then\n  echo \"Error: Output file not created!\"\n  exit 1\nfi\n\nrm -f \"$VIDEO_INPUT\"\nmv \"$VIDEO_OUTPUT_TEMP\" \"$VIDEO_OUTPUT\"\nrm -f \"$INTRO_TEMP\" \"$INTRO_VIDEO\"\n\nif [ -f \"$VIDEO_OUTPUT\" ]; then\n  echo \"Video with intro created: $VIDEO_OUTPUT\"\n  else\n  echo \"Error: Final output file not found!\"\n  exit 1\nfi\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1504,
        -848
      ],
      "id": "ffb2e655-fef8-40ed-9217-bc73122ce4ab",
      "name": "Insert Background Intro",
      "executeOnce": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\n\nVIDEO_ID=\"{{ $('Merge YouTube Metadata').first().json.id }}\"\nDRIVE_UUID=\"{{ $('Merge YouTube Metadata').first().json.driveUuid }}\"\nSOURCE_FILE=\"/home/node/downloads/${VIDEO_ID}_processed.mp4\"\nDEST_PATH=\"gdrive:reup-ytb/${DRIVE_UUID}.mp4\"\n\nif [ ! -f \"$SOURCE_FILE\" ]; then\n  echo \"ERROR: Source file not found: $SOURCE_FILE\" >&2\n  exit 1\nfi\n\nrclone copyto \"$SOURCE_FILE\" \"$DEST_PATH\" -P >/dev/null 2>&1\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1712,
        -848
      ],
      "id": "12892eac-ae17-48c8-b39f-36b646babcb9",
      "name": "Upload to Drive",
      "executeOnce": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=rclone link \"gdrive:reup-ytb/{{ $('Merge YouTube Metadata').first().json.driveUuid }}.mp4\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1888,
        -848
      ],
      "id": "a6bda2f7-84a2-4a89-a961-e16d3b051c52",
      "name": "Get Drive Link",
      "executeOnce": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1492578399,
          "mode": "list",
          "cachedResultName": "videos_template.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI/edit#gid=1492578399"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -384,
        -1168
      ],
      "id": "b75f023c-0946-4110-8f14-534a7179404a",
      "name": "Get Video Information After Upload",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdFF9k2O5WBsk28B",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1492578399,
          "mode": "list",
          "cachedResultName": "videos_template.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI/edit#gid=1492578399"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed_video_drive_link": "={{ $json.stdout || '' }}",
            "id": "={{ $('Get Video Information').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_video_drive_link",
              "displayName": "processed_video_drive_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "87a169b0-329b-4090-965b-120039cf8638",
      "name": "Update Drive Link After Process",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2080,
        -848
      ],
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdFF9k2O5WBsk28B",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1492578399,
          "mode": "list",
          "cachedResultName": "videos_template.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI/edit#gid=1492578399"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2304,
        -848
      ],
      "id": "bbcb3b7b-5491-447d-bfb6-31db5c8ce1d1",
      "name": "Get Video Info For YouTube Check",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdFF9k2O5WBsk28B",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ready-to-publish-check",
              "leftValue": "={{ $json.publish_status && String($json.publish_status).trim().toLowerCase() }}",
              "rightValue": "=pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "enable-youtube-upload-check",
              "leftValue": "={{ $json.enable_youtube_upload }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "drive-link-check",
              "leftValue": "={{ $json.processed_video_drive_link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "youtube-privacy-check",
              "leftValue": "={{ $json.youtube_privacy }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2528,
        -624
      ],
      "id": "d44fa9a3-327f-4b01-8d1e-e01d40665b20",
      "name": "Check Upload YouTube After Drive",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=python3 /data/scripts/logo_detect_overlay.py detect \"/home/node/downloads/frame_{{ $('Merge YouTube Metadata').item.json.id }}.jpg\" /data/models/best.pt 0.25 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1168,
        -848
      ],
      "id": "244073dd-9440-4d43-8e74-0a8526d7be83",
      "name": "Detect Logo (YOLO)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=VIDEO_ID=\"{{ $json.id }}\"\nLINK=\"{{ $json.processed_video_drive_link }}\"\n\n[ -z \"$LINK\" ] && exit 0\n\nFILE_ID=$(echo \"$LINK\" | sed -n 's/.*\\/d\\/\\([^\\/]*\\)\\/.*/\\1/p')\n[ -z \"$FILE_ID\" ] && FILE_ID=$(echo \"$LINK\" | sed -n 's/.*[?&]id=\\([^&]*\\).*/\\1/p')\n[ -z \"$FILE_ID\" ] && echo \"$LINK\" | grep -qE '^[a-zA-Z0-9_-]+$' && FILE_ID=\"$LINK\"\n[ -z \"$FILE_ID\" ] && exit 0\n\nURL=\"https://drive.google.com/uc?export=download&id=${FILE_ID}\"\n\nheader=$(wget --server-response --spider -q \"$URL\" 2>&1)\nname=$(echo \"$header\" | sed -n 's/.*filename=\"\\([^\"]*\\)\".*/\\1/p')\n\n[ -z \"$name\" ] && name=\"${VIDEO_ID}.mp4\"\n\nmkdir -p /home/node/downloads\n\nOUTPUT=\"/home/node/downloads/$name\"\n\nwget -q \"$URL\" -O \"$OUTPUT\"\n\n[ ! -s \"$OUTPUT\" ] && exit 0\n\necho \"$OUTPUT\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1968,
        -1168
      ],
      "id": "93aea206-659f-4ca0-8f44-5149966adfe8",
      "name": "Download Processed Video From Drive",
      "continueOnFail": true
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1776,
        -1168
      ],
      "id": "c88a114e-0a3f-41e6-96e6-9081fdec1b7e",
      "name": "Read Processed Video For YouTube",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const normalizeBoolean = (value) => {\n  const normalized = String(value).trim().toLowerCase();\n  return normalized === 'true' || normalized === '1' || normalized === 'yes';\n};\n\nconst fixMimeType = (mimeType) => {\n  if (mimeType === 'application/mp4' || mimeType === 'application/x-mp4') {\n    return 'video/mp4';\n  }\n  return mimeType;\n};\n\nconst videoInfo = $('Get Video Information').first().json;\nconst currentItem = $input.item;\n\nif (!currentItem.binary || !currentItem.binary.data) {\n  throw new Error('No video binary found from \"Read Processed Video For YouTube\"');\n}\n\nconst binaryData = currentItem.binary.data;\nif (!binaryData.data && !binaryData.mimeType) {\n  throw new Error('Invalid binary data structure');\n}\n\nreturn {\n  json: {\n    ...videoInfo,\n    id: videoInfo.id || currentItem.json.id,\n    enable_youtube_upload_normalized: String(videoInfo.enable_youtube_upload).trim().toLowerCase(),\n    enable_youtube_upload_should_upload: normalizeBoolean(videoInfo.enable_youtube_upload)\n  },\n  binary: {\n    data: {\n      ...binaryData,\n      mimeType: fixMimeType(binaryData.mimeType)\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        -1168
      ],
      "id": "4ad62824-e566-41aa-951e-162b8da81f4c",
      "name": "Merge Data For YouTube Check",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7c1b9d2-4f3a-4d9b-9c1e-7a6b5c4d3e2f",
              "leftValue": "={{ $json.enable_youtube_upload_should_upload || false }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1296,
        -1072
      ],
      "id": "7077c714-6560-46ed-8964-8bb794bf2fc9",
      "name": "Check Should Upload To YouTube",
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ (() => { const getParsedTitle = () => { const parseMeta = $('Parse Video Metadata'); if (!parseMeta || !parseMeta.isExecuted) return null; const metaItem = parseMeta.first(); if (!metaItem || !metaItem.json || !metaItem.json.youtube_title) return null; const title = String(metaItem.json.youtube_title).trim(); return title ? title : null; }; const parsedTitle = getParsedTitle(); if (parsedTitle) return parsedTitle; const sheetData = $('Get Video Information').first().json; if (sheetData.youtube_title) return sheetData.youtube_title; if (sheetData.video_title) return sheetData.video_title; return null; })() }}",
        "regionCode": "VN",
        "categoryId": "={{ (() => { const CATEGORY_MAP = { 'other': 24, 'hoạt hình': 1, 'âm nhạc': 10, 'tâm sự': 24, 'music': 10, 'animation': 1, 'entertainment': 24 }; const cat = $('Get Video Information').first().json.youtube_category; if (!cat) return null; const catLower = String(cat).toLowerCase().trim(); return CATEGORY_MAP[catLower] || null; })() }}",
        "options": {
          "description": "={{ (() => { const getParsedDescription = () => { const parseMeta = $('Parse Video Metadata'); if (!parseMeta || !parseMeta.isExecuted) return null; const metaItem = parseMeta.first(); if (!metaItem || !metaItem.json || !metaItem.json.youtube_description) return null; const desc = String(metaItem.json.youtube_description).trim(); return desc ? desc : null; }; const parsedDesc = getParsedDescription(); if (parsedDesc) return parsedDesc; return $('Get Video Information').first().json.youtube_description || null; })() }}",
          "privacyStatus": "={{ $('Get Video Information').first().json.youtube_privacy }}",
          "selfDeclaredMadeForKids": false
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -1056,
        -1168
      ],
      "id": "ce2f7b4c-f02d-4b4a-a538-7531b6fadc50",
      "name": "Upload To YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Ef2jyb1R1QxY5Wru",
          "name": "YouTube account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "for (const item of $input.all()) {\n  delete item.binary;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -1168
      ],
      "id": "7db81d17-fbe0-4ec8-ac5d-7af8b736bc62",
      "name": "Remove Binary After Upload YouTube",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1492578399,
          "mode": "list",
          "cachedResultName": "videos_template.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI/edit#gid=1492578399"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Video Information').item.json.id || $('Get Video Information').first().json.id }}",
            "publish_status": "published",
            "youtube_link": "={{ (() => { const extractVideoId = (uploadItem) => { if (!uploadItem || !uploadItem.json) return null; const json = uploadItem.json; if (Array.isArray(json) && json.length > 0) return json[0].uploadId; if (typeof json === 'object' && json !== null) return json.uploadId; return null; }; const uploadResult = $('Upload To YouTube'); if (!uploadResult || !uploadResult.isExecuted) return ''; const uploadItem = uploadResult.first(); const videoId = extractVideoId(uploadItem); if (!videoId) return ''; const trimmedId = String(videoId).trim(); return trimmedId ? `https://www.youtube.com/watch?v=${trimmedId}` : ''; })() }}",
            "youtube_upload_time": "={{ (() => { const now = new Date(); const dateStr = now.toLocaleDateString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh', year: 'numeric', month: '2-digit', day: '2-digit' }); const timeStr = now.toLocaleTimeString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh', hour: '2-digit', minute: '2-digit', second: '2-digit' }); return `${dateStr} ${timeStr}`; })() }}",
            "processed_video_drive_link": "={{ (() => { const getDriveLink = $('Get Drive Link'); if (getDriveLink && getDriveLink.isExecuted) { const result = getDriveLink.first(); if (result && result.json && result.json.stdout) { return String(result.json.stdout).trim(); } } return $('Get Video Information').first().json.processed_video_drive_link; })() }}",
            "youtube_title": "={{ (() => { const getParsedTitle = () => { const parseMeta = $('Parse Video Metadata'); if (!parseMeta || !parseMeta.isExecuted) return null; const metaItem = parseMeta.first(); if (!metaItem || !metaItem.json || !metaItem.json.youtube_title) return null; const title = String(metaItem.json.youtube_title).trim(); return title ? title : null; }; const parsedTitle = getParsedTitle(); if (parsedTitle) return parsedTitle; const sheetData = $('Get Video Information').first().json; if (sheetData.youtube_title) return sheetData.youtube_title; if (sheetData.video_title) return sheetData.video_title; return null; })() }}",
            "youtube_description": "={{ (() => { const getParsedDescription = () => { const parseMeta = $('Parse Video Metadata'); if (!parseMeta || !parseMeta.isExecuted) return null; const metaItem = parseMeta.first(); if (!metaItem || !metaItem.json || !metaItem.json.youtube_description) return null; const desc = String(metaItem.json.youtube_description).trim(); return desc ? desc : null; }; const parsedDesc = getParsedDescription(); if (parsedDesc) return parsedDesc; return $('Get Video Information').first().json.youtube_description || null; })() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "publish_status",
              "displayName": "publish_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_link",
              "displayName": "youtube_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_upload_time",
              "displayName": "youtube_upload_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_video_drive_link",
              "displayName": "processed_video_drive_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_title",
              "displayName": "youtube_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_description",
              "displayName": "youtube_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "eca2f7a8-b6db-46a0-83d8-fcc91b043419",
      "name": "Update Final Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -624,
        -1168
      ],
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdFF9k2O5WBsk28B",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ready-to-publish-check",
              "leftValue": "={{ $json.publish_status.trim().toLowerCase() }}\n",
              "rightValue": "=pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "187a5245-64d9-4544-84bf-d9e2334cbeea",
              "leftValue": "={{ $json.enable_youtube_upload }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "45d4d702-3714-402f-826d-8a59516b23d5",
              "leftValue": "={{ $json.processed_video_drive_link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "youtube-privacy-check",
              "leftValue": "={{ $json.youtube_privacy }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        -720
      ],
      "id": "0abff055-aeb7-4d25-b602-386963b04958",
      "name": "Publish video",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ready-to-publish-check",
              "leftValue": "={{ $json.publish_status && String($json.publish_status).trim().toLowerCase() }}",
              "rightValue": "=pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "enable-youtube-upload-check",
              "leftValue": "={{ $json.enable_youtube_upload }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "drive-link-check",
              "leftValue": "={{ $json.processed_video_drive_link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "youtube-privacy-check",
              "leftValue": "={{ $json.youtube_privacy }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4896,
        288
      ],
      "name": "If",
      "id": "f216b9d0-9be7-427f-8dc0-ecf2f1944141"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1376,
        -816
      ],
      "id": "62e70881-36d6-4f1c-8270-b82334bf94e3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const STATUS = {\n  SUCCESS: 'success',\n  ERROR: 'error',\n  NONE: 'none'\n};\n\nconst getNodeResult = (nodeName) => {\n  const node = $(nodeName);\n  if (!node || !node.isExecuted) return null;\n  return node.first();\n};\n\nconst extractUploadId = (uploadItem) => {\n  if (!uploadItem || uploadItem.error || !uploadItem.json) return null;\n  const json = uploadItem.json;\n  if (Array.isArray(json) && json.length > 0) return json[0].uploadId;\n  if (typeof json === 'object' && json !== null) return json.uploadId;\n  return null;\n};\n\nconst extractYouTubeLink = () => {\n  const uploadItem = getNodeResult('Upload To YouTube');\n  if (!uploadItem) return '';\n  const videoId = extractUploadId(uploadItem);\n  if (!videoId) return '';\n  const trimmedId = String(videoId).trim();\n  return trimmedId ? `https://www.youtube.com/watch?v=${trimmedId}` : '';\n};\n\nconst checkNodeError = (nodeName) => {\n  const item = getNodeResult(nodeName);\n  if (!item) return null;\n  if (item.error) return item.error.message;\n  \n  if (item.json && item.json.stderr) {\n    const stderr = String(item.json.stderr);\n    \n    if (stderr.includes('ffmpeg version')) {\n      const lines = stderr.split('\\n');\n      const errorLines = lines.filter(line => \n        line.toLowerCase().includes('error') || \n        line.toLowerCase().includes('failed') ||\n        line.toLowerCase().includes('cannot') ||\n        line.toLowerCase().includes('invalid')\n      );\n      if (errorLines.length > 0) {\n        return errorLines.join('\\n').substring(0, 300);\n      }\n      if (item.json.exitCode && item.json.exitCode !== 0) {\n        return 'FFmpeg execution failed';\n      }\n      return null;\n    }\n    \n    if (stderr.includes('--') && (stderr.includes('wget') || stderr.includes('HTTP'))) {\n      const lines = stderr.split('\\n');\n      const errorLines = lines.filter(line => \n        line.toUpperCase().includes('ERROR') || \n        line.toLowerCase().includes('failed') ||\n        line.includes('404') ||\n        line.includes('403') ||\n        line.includes('500') ||\n        line.toLowerCase().includes('not found')\n      );\n      if (errorLines.length > 0) {\n        return errorLines.join('\\n').substring(0, 300);\n      }\n      if (item.json.exitCode && item.json.exitCode !== 0) {\n        return 'Download failed';\n      }\n      return null;\n    }\n    \n    return stderr.substring(0, 300);\n  }\n  \n  if (item.json && item.json.exitCode && item.json.exitCode !== 0) {\n    return 'Node execution failed';\n  }\n  \n  return null;\n};\n\nconst getDriveLinkFromNode = () => {\n  const driveLinkItem = getNodeResult('Get Drive Link');\n  if (!driveLinkItem || driveLinkItem.error || !driveLinkItem.json || !driveLinkItem.json.stdout) return null;\n  return String(driveLinkItem.json.stdout).trim();\n};\n\nconst getTimestamp = () => {\n  return new Date().toLocaleString('vi-VN', {\n    timeZone: 'Asia/Ho_Chi_Minh',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit'\n  });\n};\n\nconst getCurrentVideoInfo = () => {\n  const currentItem = $input.item;\n  \n  if (currentItem && currentItem.json && currentItem.json.id) {\n    return currentItem.json;\n  }\n  \n  const getVideoInfoAfterUpload = $('Get Video Information After Upload');\n  if (getVideoInfoAfterUpload && getVideoInfoAfterUpload.isExecuted) {\n    const item = getVideoInfoAfterUpload.first();\n    if (item && item.json && item.json.id) {\n      return item.json;\n    }\n  }\n  \n  const getVideoInfoForCheck = $('Get Video Info For YouTube Check');\n  if (getVideoInfoForCheck && getVideoInfoForCheck.isExecuted) {\n    const item = getVideoInfoForCheck.first();\n    if (item && item.json && item.json.id) {\n      return item.json;\n    }\n  }\n  \n  const mergeData = $('Merge Data For YouTube Check');\n  if (mergeData && mergeData.isExecuted) {\n    const item = mergeData.first();\n    if (item && item.json && item.json.id) {\n      return item.json;\n    }\n  }\n  \n  const getVideoInfo = $('Get Video Information');\n  if (getVideoInfo && getVideoInfo.isExecuted) {\n    const allItems = getVideoInfo.all();\n    if (allItems && allItems.length > 0) {\n      const currentId = currentItem?.json?.id;\n      if (currentId) {\n        const matchedItem = allItems.find(item => item.json && item.json.id === currentId);\n        if (matchedItem) return matchedItem.json;\n      }\n      const loopItems = $('Loop Over Items');\n      if (loopItems && loopItems.isExecuted) {\n        const loopItem = loopItems.first();\n        if (loopItem && loopItem.json && loopItem.json.id) {\n          const matchedItem = allItems.find(item => item.json && item.json.id === loopItem.json.id);\n          if (matchedItem) return matchedItem.json;\n        }\n      }\n      return allItems[0].json;\n    }\n  }\n  \n  return null;\n};\n\nconst videoInfo = getCurrentVideoInfo() || $('Get Video Information').first().json;\nconst youtubeLink = extractYouTubeLink();\nconst driveLink = getDriveLinkFromNode() || videoInfo.processed_video_drive_link;\n\nconst errorNodes = ['Process Video', 'Download Video', 'Upload to Drive', 'Get Drive Link', 'Insert Background Intro', 'Download Processed Video From Drive', 'Extract Frame', 'Read Processed Video For YouTube', 'Merge Data For YouTube Check'];\nconst uploadError = checkNodeError('Upload To YouTube');\nconst execErrors = errorNodes.map(node => checkNodeError(node)).filter(e => e);\nconst firstError = uploadError || execErrors[0];\n\nconst status = firstError ? STATUS.ERROR : (youtubeLink ? STATUS.SUCCESS : STATUS.NONE);\nconst errorMessage = firstError ? String(firstError).substring(0, 300) : '';\n\nreturn {\n  json: {\n    status,\n    errorMessage,\n    id: videoInfo.id,\n    videoTitle: videoInfo.video_title || videoInfo.youtube_title,\n    videoUrl: videoInfo.video_url,\n    driveLink,\n    youtubeLink,\n    publishStatus: videoInfo.publish_status ? String(videoInfo.publish_status).toLowerCase() : '',\n    timestamp: getTimestamp()\n  }\n};"
      },
      "id": "25369bb7-4ff6-4372-8c0a-cc5c7c2f81f9",
      "name": "Set Result Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        -1056
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09QG88TFJM",
          "mode": "id"
        },
        "text": "={{ (() => { const STATUS = { SUCCESS: 'success', ERROR: 'error', NONE: 'none' }; const MESSAGE = { SUCCESS_PREFIX: '✅ Video xử lý thành công', ERROR_PREFIX: '🔴 Lỗi xử lý video' }; const status = $json.status; if (status === STATUS.NONE) return ''; const id = $json.id; const videoTitle = $json.videoTitle; const videoUrl = $json.videoUrl; const driveLink = $json.driveLink; const youtubeLink = $json.youtubeLink; const errorMessage = $json.errorMessage; const timestamp = $json.timestamp; if (status === STATUS.SUCCESS) { return `${MESSAGE.SUCCESS_PREFIX}\\nID: ${id}\\nTiêu đề: ${videoTitle}\\nYouTube: ${youtubeLink}\\nDrive: ${driveLink}\\nThời gian: ${timestamp}`; } else if (status === STATUS.ERROR) { return `${MESSAGE.ERROR_PREFIX}\\nID: ${id}\\nTiêu đề: ${videoTitle}\\nLỗi: ${errorMessage}\\nGốc: ${videoUrl}\\n${driveLink ? 'Drive: ' + driveLink : ''}${youtubeLink ? '\\nYouTube: ' + youtubeLink : ''}\\nThời gian: ${timestamp}`; } return ''; })() }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3008,
        -1056
      ],
      "id": "069569c3-aa5c-4c6c-97b5-53da3a089da0",
      "name": "Send a message",
      "executeOnce": true,
      "webhookId": "ee2d48b4-7741-4eda-be7e-f299880b5106",
      "credentials": {
        "slackApi": {
          "id": "r5gqdIaSja4mpw9V",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Bạn là chuyên gia tối ưu hóa metadata YouTube. Nhiệm vụ của bạn là tạo tiêu đề và mô tả YouTube mới dựa trên video_title đầu vào.\n\nDỮ LIỆU ĐẦU VÀO:\nvideo_title: ={{ $json.video_title }}\n\n========================================\nYÊU CẦU BẮT BUỘC CHO TIÊU ĐỀ (youtube_title)\n========================================\n- Độ dài: CHÍNH XÁC 60-100 ký tự (tính toàn bộ ký tự, bao gồm khoảng trắng)\n- Tiêu đề phải hấp dẫn, thu hút click và tối ưu SEO\n- Phải chứa từ khóa chính liên quan đến video_title đầu vào\n- Dùng Title Case hoặc Sentence Case (một kiểu duy nhất)\n- KHÔNG được dùng emoji hoặc ký tự đặc biệt (ngoại trừ dấu chấm, phẩy, dấu gạch)\n- Không được thừa khoảng trắng ở đầu hoặc cuối\n\n========================================\nYÊU CẦU BẮT BUỘC CHO MÔ TẢ (youtube_description)\n========================================\n- Độ dài: 200-5000 ký tự (tối thiểu 200, tối ưu 500-2000)\n- 2-3 dòng đầu phải chứa từ khóa chính của video_title và thu hút người xem\n- Nội dung phải liên quan chặt chẽ tới video, mô tả rõ ràng giá trị video\n- Có thể thêm lời kêu gọi hành động (Subscribe, Like)\n- Có thể thêm timestamp, link, hoặc hashtag (3-10 hashtag) nếu phù hợp\n- Sử dụng ký tự \\n để xuống dòng (không xuống dòng thật)\n- Không được thừa khoảng trắng ở đầu hoặc cuối\n\n========================================\nYÊU CẦU VỀ ĐỊNH DẠNG OUTPUT (CỰC KỲ QUAN TRỌNG - SẼ ĐƯỢC PARSE BẰNG JSON.parse())\n========================================\nBạn PHẢI trả về DUY NHẤT một JSON object hợp lệ có đúng 2 trường:\n\n{\"youtube_title\":\"...\",\"youtube_description\":\"...\"}\n\nQUY ĐỊNH NGHIÊM NGẶT:\n- KHÔNG được dùng markdown code blocks (```json, ```)\n- KHÔNG có văn bản giải thích bên ngoài JSON\n- KHÔNG có comment trong JSON (//, /* */)\n- KHÔNG có trailing comma\n- KHÔNG được trả về array ([{...}])\n- KHÔNG được thêm bất kỳ trường nào khác\n- Tất cả giá trị phải là string, dùng dấu nháy kép \"\n- Escape special characters đúng cách: \\\" cho quotes, \\\\ cho backslash, \\n cho newline\n- JSON phải hợp lệ và parse được bằng JSON.parse()\n- Field names PHẢI chính xác: \"youtube_title\" và \"youtube_description\" (lowercase, underscore)\n\nVÍ DỤ FORMAT ĐÚNG:\n{\"youtube_title\":\"This Is An Example YouTube Title That Is Between 60 And 100 Characters Long\",\"youtube_description\":\"This is an example description that must be at least 200 characters long to meet the requirements. It should include relevant keywords and be engaging for viewers. You can add more content here to reach the minimum character count. This description should provide value and encourage viewers to watch the video.\"}\n\n========================================\nĐIỀU KIỆN BẮT BUỘC PHẢI ĐẠT\n========================================\n- youtube_title: 60-100 ký tự (inclusive), non-empty string\n- youtube_description: 200-5000 ký tự (inclusive), non-empty string\n- Cả hai field đều bắt buộc, không được null hoặc undefined\n- KHÔNG được dùng emoji\n- Response phải parse được bằng JSON.parse() không lỗi\n\n========================================\nHÃY TIẾN HÀNH TẠO TIÊU ĐỀ VÀ MÔ TẢ NGAY BÂY GIỜ.\nCHỈ TRẢ VỀ ĐÚNG JSON OBJECT, KHÔNG THÊM BẤT KỲ THỨ GÌ KHÁC.\nKHÔNG CÓ MARKDOWN, KHÔNG CÓ GIẢI THÍCH, CHỈ CÓ JSON OBJECT THUẦN TÚY.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        112,
        -688
      ],
      "id": "b564490c-4f51-4668-b949-1a16d8f179c0",
      "name": "Generate metadata",
      "credentials": {
        "googlePalmApi": {
          "id": "H1JSwNE1NdapUMQa",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Publish video": {
      "main": [
        [
          {
            "node": "Download Processed Video From Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Video Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Information": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Processed Video From Drive": {
      "main": [
        [
          {
            "node": "Read Processed Video For YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video URL": {
      "main": [
        [
          {
            "node": "Extract YouTube Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract YouTube Metadata": {
      "main": [
        [
          {
            "node": "Merge YouTube Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge YouTube Metadata": {
      "main": [
        [
          {
            "node": "Generate metadata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear Old Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate metadata": {
      "main": [
        [
          {
            "node": "Parse Video Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Old Files": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Read Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video File": {
      "main": [
        [
          {
            "node": "Remove Binary After Read Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Binary After Read Video": {
      "main": [
        [
          {
            "node": "Extract Frame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Frame": {
      "main": [
        [
          {
            "node": "Detect Logo (YOLO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Video": {
      "main": [
        [
          {
            "node": "Insert Background Intro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Background Intro": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "Get Drive Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Drive Link": {
      "main": [
        [
          {
            "node": "Update Drive Link After Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Drive Link After Process": {
      "main": [
        [
          {
            "node": "Get Video Info For YouTube Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Info For YouTube Check": {
      "main": [
        [
          {
            "node": "Check Upload YouTube After Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Upload YouTube After Drive": {
      "main": [
        [
          {
            "node": "Download Processed Video From Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Result Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Processed Video For YouTube": {
      "main": [
        [
          {
            "node": "Merge Data For YouTube Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data For YouTube Check": {
      "main": [
        [
          {
            "node": "Check Should Upload To YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Should Upload To YouTube": {
      "main": [
        [
          {
            "node": "Upload To YouTube",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Result Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload To YouTube": {
      "main": [
        [
          {
            "node": "Remove Binary After Upload YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Binary After Upload YouTube": {
      "main": [
        [
          {
            "node": "Update Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Final Status": {
      "main": [
        [
          {
            "node": "Get Video Information After Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Information After Upload": {
      "main": [
        [
          {
            "node": "Set Result Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Logo (YOLO)": {
      "main": [
        [
          {
            "node": "Process Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Publish video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Result Status": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f1f98b0-5a8a-41c5-97a5-4859fbed7340",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85d7322ab387263001b31b703ad4747f32bd4ef2ff67525ffd22eeafb96c1d17"
  },
  "id": "73rOph1FqpnX8rIF",
  "tags": []
}
