test(3).json
{
  "name": "test",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.item.json;\n\nif (response.error) {\n  console.error('API Error:', response.error);\n  return {\n    json: {\n      youtube_title: '',\n      youtube_description: '',\n      error: `API Error: ${response.error.message || JSON.stringify(response.error)}`,\n      valid: false,\n      raw: response\n    }\n  };\n}\n\nlet text = '';\n\nif (Array.isArray(response) && response.length > 0) {\n  const firstItem = response[0];\n  if (firstItem.content && firstItem.content.parts && firstItem.content.parts.length > 0) {\n    const textPart = firstItem.content.parts[0];\n    if (textPart.text) {\n      text = textPart.text.trim();\n    }\n  }\n} else if (response.candidates && response.candidates.length > 0) {\n  const candidate = response.candidates[0];\n  const textPart = candidate.content?.parts?.find(part => part.text);\n  if (textPart && textPart.text) {\n    text = textPart.text.trim();\n  }\n} else if (response.content && response.content.parts && response.content.parts.length > 0) {\n  const textPart = response.content.parts[0];\n  if (textPart.text) {\n    text = textPart.text.trim();\n  }\n}\n\nif (!text) {\n  console.error('No text found in response');\n  return {\n    json: {\n      youtube_title: '',\n      youtube_description: '',\n      error: 'No text found in response',\n      valid: false,\n      raw: response\n    }\n  };\n}\n\ntext = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n\nlet jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) {\n  text = jsonMatch[0];\n}\n\nlet meta;\ntry {\n  meta = JSON.parse(text);\n} catch (e) {\n  console.error('Parse error:', e.message, 'Text:', text.substring(0, 200));\n  return {\n    json: {\n      youtube_title: '',\n      youtube_description: '',\n      error: `Parse error: ${e.message}`,\n      valid: false,\n      rawText: text.substring(0, 400)\n    }\n  };\n}\n\nif (!meta || typeof meta !== 'object') {\n  console.error('Parsed result is not an object:', meta);\n  return {\n    json: {\n      youtube_title: '',\n      youtube_description: '',\n      error: 'Parsed result is not an object',\n      valid: false,\n      raw: meta\n    }\n  };\n}\n\nconst youtubeTitle = String(meta.youtube_title || '').trim();\nconst youtubeDescription = String(meta.youtube_description || '').trim();\n\nif (!youtubeTitle || !youtubeDescription) {\n  console.error('Missing required fields. Available fields:', Object.keys(meta));\n}\n\nconst result = {\n  json: {\n    youtube_title: youtubeTitle,\n    youtube_description: youtubeDescription,\n    error: null,\n    valid: !!(youtubeTitle && youtubeDescription),\n    raw: meta\n  }\n};\n\nreturn result;"
      },
      "id": "802328c0-1610-4ef1-ab14-e824b5328621",
      "name": "Parse Video Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        352
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2576,
        224
      ],
      "id": "64f05dbd-a8a6-4bd1-bb74-db4795abcfaf",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1492578399,
          "mode": "list",
          "cachedResultName": "videos_template.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI/edit#gid=1492578399"
        },
        "options": {}
      },
      "id": "65aa2adc-db35-45cc-b938-d2fa450d6240",
      "name": "Get Video Information",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2288,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdFF9k2O5WBsk28B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const row = $('Get Video Information').item.json;\n\nif (!row.id) throw new Error('Missing required field: id');\nif (!row.video_url) throw new Error('Missing required field: video_url');\n\nconst videoUrl = row.video_url;\n\nfunction generateUuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst driveUuid = generateUuid();\n\nreturn {\n  json: {\n    id: row.id,\n    video_title: row.video_title || '',\n    video_url: videoUrl,\n    driveUuid\n  }\n};\n"
      },
      "id": "5bb48b8d-9b8a-45a8-ae87-c49175055acf",
      "name": "Extract Video URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        784
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=yt-dlp --no-playlist --print \"%(title)s|%(uploader)s|%(description)s\" --no-warnings \"{{ $('Extract Video URL').item.json.video_url }}\" 2>/dev/null || echo \"ERROR|ERROR|ERROR\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -720,
        784
      ],
      "id": "ab7fc614-e069-44df-bbeb-665ec74d8b20",
      "name": "Extract YouTube Metadata",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const row = $('Get Video Information').item.json;\nconst extractResult = $('Extract YouTube Metadata').item.json;\nconst extractUrl = $('Extract Video URL').item.json;\n\nlet ytTitle = '';\nlet ytDescription = '';\n\nif (extractResult.stdout) {\n  const parts = extractResult.stdout.trim().split('|');\n  if (parts.length >= 3) {\n    ytTitle = parts[0].trim();\n    ytDescription = parts[2].trim().substring(0, 500);\n  }\n}\n\nconst videoTitle = row.video_title && row.video_title.trim() ? row.video_title.trim() : ytTitle;\n\nif (!videoTitle) {\n  throw new Error('Cannot extract video title from YouTube');\n}\n\nreturn {\n  json: {\n    ...extractUrl,\n    video_title: videoTitle,\n    youtube_metadata: {\n      title: ytTitle,\n      description: ytDescription\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        784
      ],
      "id": "94de09e3-a5f2-4f8e-94b7-0c275728fe44",
      "name": "Merge YouTube Metadata",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=VIDEO_ID=\"{{ $('Merge YouTube Metadata').item.json.id }}\"\nrm -f \"/home/node/downloads/${VIDEO_ID}.mp4\"\necho \"Cleared old video file for video: ${VIDEO_ID}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -288,
        784
      ],
      "id": "cf8a14ad-5dcb-4710-a0d6-5a34e4481290",
      "name": "Clear Old Files",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=yt-dlp --no-playlist -f \"bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best\" --merge-output-format mp4 --no-part -o \"/home/node/downloads/{{ $('Merge YouTube Metadata').item.json.id }}.mp4\" \"{{ $('Merge YouTube Metadata').item.json.video_url }}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -96,
        784
      ],
      "id": "69cac7eb-5bcd-4c27-a6b9-1e40e1fb8355",
      "name": "Download Video"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/downloads/{{ $('Merge YouTube Metadata').item.json.id }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        112,
        784
      ],
      "id": "f04e76bc-d48f-4c02-ae0c-71a5b3db4841",
      "name": "Read Video File"
    },
    {
      "parameters": {
        "command": "=VIDEO_ID=\"{{ $('Merge YouTube Metadata').item.json.id }}\"\nVIDEO_FILE=\"/home/node/downloads/{{ $('Read Video File').item.binary.data.fileName }}\"\nFRAME_OUTPUT=\"/home/node/downloads/frame_${VIDEO_ID}.jpg\"\n\nffmpeg -y -ss 0 -i \"$VIDEO_FILE\" -vf \"scale='min(1280,iw)':'min(720,ih)':force_original_aspect_ratio=decrease\" -frames:v 1 -q:v 5 \"$FRAME_OUTPUT\"\n\necho \" Frame extracted and resized: $FRAME_OUTPUT\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -880,
        1024
      ],
      "id": "bb70ac56-04fd-46d1-9ad7-7b24747f7de8",
      "name": "Extract Frame"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/downloads/frame_{{ $('Merge YouTube Metadata').item.json.id }}.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -672,
        1024
      ],
      "id": "a2bdafad-67c7-47b0-9238-51bba95a9ffc",
      "name": "Read Frame File",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\n\nVIDEO_ID=\"{{ $('Merge YouTube Metadata').item.json.id }}\"\nLOGO_URL=\"{{ $('Get Video Information').item.json.new_logo_url }}\"\nOUTPUT_FILE=\"/home/node/downloads/logo_${VIDEO_ID}.png\"\n\nif [ -z \"$LOGO_URL\" ] || [ \"$LOGO_URL\" = \"\" ]; then\n  exit 1\nfi\n\n# Convert Google Drive share link to direct download link if needed\nif echo \"$LOGO_URL\" | grep -q \"drive.google.com\"; then\n  # Extract file ID from Google Drive link\n  FILE_ID=$(echo \"$LOGO_URL\" | sed -n 's/.*\\/d\\/\\([^\\/]*\\)\\/.*/\\1/p' | head -1)\n  if [ -n \"$FILE_ID\" ]; then\n    LOGO_URL=\"https://drive.google.com/uc?export=download&id=${FILE_ID}\"\n  fi\nfi\n\nwget -O \"$OUTPUT_FILE\" \"$LOGO_URL\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -432,
        1024
      ],
      "id": "b53c139c-dd79-46b6-90c3-edac8d19590e",
      "name": "Download New Logo",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/sh\n\nVIDEO_ID=\"{{ $('Merge YouTube Metadata').item.json.id }}\"\nOLD_LOGO_SAMPLE_URLS=\"{{ $('Get Video Information').item.json.old_logo_url }}\"\n\nif [ -z \"$OLD_LOGO_SAMPLE_URLS\" ] || [ \"$OLD_LOGO_SAMPLE_URLS\" = \"\" ]; then\n  touch \"/home/node/downloads/old_logo_sample_${VIDEO_ID}.png.none\"\n  exit 0\nfi\n\nOLD_LOGO_SAMPLE_URLS_CLEAN=$(echo \"$OLD_LOGO_SAMPLE_URLS\" | tr ',;' '  ')\n\nif [ -z \"$OLD_LOGO_SAMPLE_URLS_CLEAN\" ]; then\n  touch \"/home/node/downloads/old_logo_sample_${VIDEO_ID}.png.none\"\n  exit 0\nfi\n\nOUTPUT_FILE=\"/home/node/downloads/old_logo_sample_${VIDEO_ID}.png\"\nTEMP_FILE=\"/home/node/downloads/temp_logo_${VIDEO_ID}.png\"\n\nSUCCESS=0\n\n# Loop through each URL separated by whitespace\nfor URL in $OLD_LOGO_SAMPLE_URLS_CLEAN; do\n  if [ -z \"$URL\" ]; then\n    continue\n  fi\n\n  OLD_LOGO_SAMPLE_URL=\"$URL\"\n\n  if echo \"$OLD_LOGO_SAMPLE_URL\" | grep -q \"drive.google.com\"; then\n    FILE_ID=$(echo \"$OLD_LOGO_SAMPLE_URL\" | sed -n 's/.*\\/d\\/\\([^\\/]*\\)\\/.*/\\1/p' | head -1)\n    if [ -n \"$FILE_ID\" ]; then\n      OLD_LOGO_SAMPLE_URL=\"https://drive.google.com/uc?export=download&id=${FILE_ID}\"\n    fi\n  fi\n  \n  if wget -O \"$TEMP_FILE\" \"$OLD_LOGO_SAMPLE_URL\"; then\n    ffmpeg -y -i \"$TEMP_FILE\" -vf \"scale='min(400,iw)':'min(300,ih)':force_original_aspect_ratio=decrease\" -q:v 5 \"$OUTPUT_FILE\"\n    rm -f \"$TEMP_FILE\"\n    SUCCESS=1\n    break\n  fi\n\ndone\n\nif [ \"$SUCCESS\" -ne 1 ]; then\n  rm -f \"$TEMP_FILE\"\n  touch \"/home/node/downloads/old_logo_sample_${VIDEO_ID}.png.none\"\nfi\n\nexit 0"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -224,
        1024
      ],
      "id": "af0dcc08-3632-4d3b-9fa9-dcad7686e4d1",
      "name": "Download Old Logo Sample",
      "continueOnFail": true
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/downloads/old_logo_sample_{{ $('Merge YouTube Metadata').item.json.id }}.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -896,
        1376
      ],
      "id": "69a7c41f-8503-4cd4-81a5-12432561b728",
      "name": "Read Old Logo Sample",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.item.json;\n\nif (response.error) {\n  console.error('Gemini API Error:', response.error);\n  return {\n    json: {\n      x: 0,\n      y: 0,\n      width: 0,\n      height: 0,\n      error: `API Error: ${response.error.message || JSON.stringify(response.error)}`,\n      valid: false\n    }\n  };\n}\n\nif (!response.candidates || response.candidates.length === 0) {\n  console.error('No candidates in response:', JSON.stringify(response));\n  return {\n    json: {\n      x: 0,\n      y: 0,\n      width: 0,\n      height: 0,\n      error: 'No candidates from API',\n      valid: false\n    }\n  };\n}\n\nconst candidate = response.candidates[0];\n\nif (!candidate.content || !candidate.content.parts || candidate.content.parts.length === 0) {\n  console.error('No content parts:', JSON.stringify(candidate));\n  return {\n    json: {\n      x: 0,\n      y: 0,\n      width: 0,\n      height: 0,\n      error: 'No content parts in response',\n      valid: false\n    }\n  };\n}\n\nconst textPart = candidate.content.parts.find(part => part.text);\nif (!textPart || !textPart.text) {\n  console.error('No text in parts:', JSON.stringify(candidate.content.parts));\n  return {\n    json: {\n      x: 0,\n      y: 0,\n      width: 0,\n      height: 0,\n      error: 'No text in response',\n      valid: false\n    }\n  };\n}\n\nlet text = textPart.text.trim();\n\ntext = text.replace(/^```json\\s*/i, '');\ntext = text.replace(/^```\\s*/i, '');\ntext = text.replace(/\\s*```$/i, '');\ntext = text.trim();\n\nconst jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) {\n  text = jsonMatch[0];\n}\n\nlet logoCoords;\ntry {\n  logoCoords = JSON.parse(text);\n  console.log('Parsed coordinates:', logoCoords);\n} catch (e) {\n  console.error('JSON parse error:', e.message, 'Text:', text);\n  return {\n    json: {\n      x: 0,\n      y: 0,\n      width: 0,\n      height: 0,\n      error: `Parse error: ${e.message}. Text: ${text.substring(0, 100)}`,\n      valid: false\n    }\n  };\n}\n\nconst requiredFields = ['x', 'y', 'width', 'height'];\nfor (const field of requiredFields) {\n  if (!(field in logoCoords)) {\n    console.error(`Missing field: ${field}`, logoCoords);\n    return {\n      json: {\n        x: 0,\n        y: 0,\n        width: 0,\n        height: 0,\n        error: `Missing field: ${field}`,\n        valid: false\n      }\n    };\n  }\n}\n\n// Step 8: Parse and validate values\nconst x = parseInt(logoCoords.x);\nconst y = parseInt(logoCoords.y);\nconst width = parseInt(logoCoords.width);\nconst height = parseInt(logoCoords.height);\n\nif (isNaN(x) || isNaN(y) || isNaN(width) || isNaN(height)) {\n  console.error('Invalid number values:', { x, y, width, height });\n  return {\n    json: {\n      x: 0,\n      y: 0,\n      width: 0,\n      height: 0,\n      error: 'Invalid number values',\n      valid: false\n    }\n  };\n}\n\nif (x < 0 || y < 0 || width < 0 || height < 0) {\n  console.error('Negative values:', { x, y, width, height });\n  return {\n    json: {\n      x: 0,\n      y: 0,\n      width: 0,\n      height: 0,\n      error: 'Negative values',\n      valid: false\n    }\n  };\n}\n\nconst MAX_FRAME_WIDTH = 1920;\nconst MAX_FRAME_HEIGHT = 1080;\n\nif (x + width > MAX_FRAME_WIDTH) {\n  if (x > MAX_FRAME_WIDTH * 0.7) {\n    const adjustedX = MAX_FRAME_WIDTH - width - 10;\n    logoCoords.x = Math.max(0, adjustedX);\n    x = parseInt(logoCoords.x);\n  }\n}\n\nif (y + height > MAX_FRAME_HEIGHT) {\n  if (y > MAX_FRAME_HEIGHT * 0.7) {\n    const adjustedY = MAX_FRAME_HEIGHT - height - 10;\n    logoCoords.y = Math.max(0, adjustedY);\n    y = parseInt(logoCoords.y);\n  }\n}\n\nconst oldLogoFound = (width > 0 && height > 0);\n\nconsole.log(` Logo detection result: x=${x}, y=${y}, w=${width}, h=${height}, found=${oldLogoFound}`);\n\nconst result = {\n  json: {\n    x: x,\n    y: y,\n    width: width,\n    height: height,\n    valid: true,\n    oldLogoFound: oldLogoFound,\n    error: null,\n    source: 'detection_1'\n  }\n};\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        1536
      ],
      "id": "d847c2a1-a9b1-4990-8e37-05e66783225a",
      "name": "Parse Logo Coordinates",
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {
          "maxOutputTokens": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        1216
      ],
      "id": "d7dd3e3b-d686-4900-949a-48f115597a6e",
      "name": "Detect Logo (AI) 2",
      "credentials": {
        "googlePalmApi": {
          "id": "H1JSwNE1NdapUMQa",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.item.json;\n\nif (response.error) {\n  return { json: { x: 0, y: 0, width: 0, height: 0, error: `API Error: ${response.error.message}`, valid: false } };\n}\n\nif (!response.candidates || response.candidates.length === 0) {\n  return { json: { x: 0, y: 0, width: 0, height: 0, error: 'No candidates from API', valid: false } };\n}\n\nconst candidate = response.candidates[0];\nconst textPart = candidate.content?.parts?.find(part => part.text);\nif (!textPart || !textPart.text) {\n  return { json: { x: 0, y: 0, width: 0, height: 0, error: 'No text in response', valid: false } };\n}\n\nlet text = textPart.text.trim();\ntext = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\nconst jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) text = jsonMatch[0];\n\nlet logoCoords;\ntry {\n  logoCoords = JSON.parse(text);\n} catch (e) {\n  return { json: { x: 0, y: 0, width: 0, height: 0, error: `Parse error: ${e.message}`, valid: false } };\n}\n\nconst requiredFields = ['x', 'y', 'width', 'height'];\nfor (const field of requiredFields) {\n  if (!(field in logoCoords)) {\n    return { json: { x: 0, y: 0, width: 0, height: 0, error: `Missing field: ${field}`, valid: false } };\n  }\n}\n\nconst x = parseInt(logoCoords.x);\nconst y = parseInt(logoCoords.y);\nconst width = parseInt(logoCoords.width);\nconst height = parseInt(logoCoords.height);\n\nif (isNaN(x) || isNaN(y) || isNaN(width) || isNaN(height) || x < 0 || y < 0 || width < 0 || height < 0) {\n  return { json: { x: 0, y: 0, width: 0, height: 0, error: 'Invalid values', valid: false } };\n}\n\nconst oldLogoFound = (width > 0 && height > 0);\n\nreturn {\n  json: {\n    x: x,\n    y: y,\n    width: width,\n    height: height,\n    valid: true,\n    oldLogoFound: oldLogoFound,\n    error: null,\n    source: 'detection_2'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        1216
      ],
      "id": "10330dc3-4fbf-480c-af2f-d0e7ee3740c7",
      "name": "Parse Logo Coordinates 2",
      "continueOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        560,
        1360
      ],
      "id": "d9949e1d-8550-46c7-8a88-f93b8c9c0ae2",
      "name": "Merge 2 Detection Results",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json || {});\n\nconst valids = items.filter(r =>\n  r &&\n  r.valid === true &&\n  Number(r.width) > 0 &&\n  Number(r.height) > 0 &&\n  Number(r.x) >= 0 &&\n  Number(r.y) >= 0\n);\n\nif (!valids.length) {\n  return {\n    json: {\n      x: 0,\n      y: 0,\n      width: 0,\n      height: 0,\n      oldLogoFound: false,\n      valid: false,\n      source: 'none'\n    }\n  };\n}\n\nfunction score(r) {\n  const x = Number(r.x) || 0;\n  const y = Number(r.y) || 0;\n  const w = Number(r.width) || 0;\n  const h = Number(r.height) || 0;\n  const area = w * h;\n  let s = 0;\n\n  if (x > 1200) s += 20;\n  if (y < 200) s += 20;\n\n  if (area > 2000 && area < 200000) s += 20;\n  if (area < 1000 || area > 300000) s -= 10;\n\n  return s;\n}\n\nvalids.sort((a, b) => score(b) - score(a));\n\nconst best = valids[0];\n\nreturn {\n  json: {\n    x: Number(best.x) || 0,\n    y: Number(best.y) || 0,\n    width: Number(best.width) || 0,\n    height: Number(best.height) || 0,\n    oldLogoFound: true,\n    valid: true,\n    source: best.source || 'best_of_multi'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1216
      ],
      "id": "c8df50f6-6c79-4396-b542-256ec51c94ef",
      "name": "Choose Best Logo Coordinates",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\n\nVIDEO_ID=\"{{ $('Merge YouTube Metadata').first().json.id }}\"\nWORK_DIR=\"/home/node/downloads\"\ncd \"$WORK_DIR\"\n\nX=\"{{ $json.x }}\"\nY=\"{{ $json.y }}\"\nWIDTH=\"{{ $json.width }}\"\nHEIGHT=\"{{ $json.height }}\"\n\nif [ -z \"$X\" ] || [ -z \"$Y\" ] || [ -z \"$WIDTH\" ] || [ -z \"$HEIGHT\" ]; then\n  echo \"Error: Missing coordinate values\"\n  exit 1\nfi\n\nCENTER_X=$((X + WIDTH / 2))\nCENTER_Y=$((Y + HEIGHT / 2))\n\ncat > logo_coordinates.txt << EOF\nLOGO_CENTER_X=$CENTER_X\nLOGO_CENTER_Y=$CENTER_Y\nLOGO_X=$X\nLOGO_Y=$Y\nLOGO_WIDTH=$WIDTH\nLOGO_HEIGHT=$HEIGHT\nEOF\n\necho \" Created logo_coordinates.txt:\"\ncat logo_coordinates.txt"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        992,
        1216
      ],
      "id": "90eaf99e-8d26-488c-a08f-3886bbcd6450",
      "name": "Create Logo Coordinates File"
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\n\nVIDEO_ID=\"{{ $('Merge YouTube Metadata').first().json.id }}\"\nWORK_DIR=\"/home/node/downloads\"\nSCRIPT_DIR=\"/home/vantrong/Documents/n8n-install\"\ncd \"$WORK_DIR\"\n\nFRAME_FILE=\"frame_${VIDEO_ID}.jpg\"\nOLD_LOGO_SAMPLE=\"old_logo_sample_${VIDEO_ID}.png\"\nNEW_LOGO=\"logo_${VIDEO_ID}.png\"\nOUTPUT_DIR=\"${VIDEO_ID}_outputs\"\n\nLOGO_OFFSET_X=0\nLOGO_OFFSET_Y=0\n\nif [ ! -f \"$FRAME_FILE\" ]; then\n  echo \"Error: Frame file not found: $FRAME_FILE\"\n  exit 1\nfi\n\nif [ ! -f \"$OLD_LOGO_SAMPLE\" ]; then\n  exit 0\nfi\n\nif [ ! -f \"$NEW_LOGO\" ]; then\n  echo \"Error: New logo not found: $NEW_LOGO\"\n  exit 1\nfi\n\nif [ ! -f logo_coordinates.txt ]; then\n  echo \"Error: logo_coordinates.txt not found\"\n  exit 1\nfi\n\ncp \"$FRAME_FILE\" image_origin.png\ncp \"$OLD_LOGO_SAMPLE\" image_sample.png\ncp \"$NEW_LOGO\" image_logo.png\n\nmkdir -p \"$OUTPUT_DIR\"\n\nif [ -x \"/bin/bash\" ]; then\n  BASH_CMD=\"/bin/bash\"\nelif [ -x \"/usr/bin/bash\" ]; then\n  BASH_CMD=\"/usr/bin/bash\"\nelse\n  echo \"Error: bash not found\"\n  exit 1\nfi\n\nOUTPUT_PATH=$(LOGO_OFFSET_X=\"$LOGO_OFFSET_X\" LOGO_OFFSET_Y=\"$LOGO_OFFSET_Y\" $BASH_CMD \"$SCRIPT_DIR/ai-select-best-frame.sh\" image_origin.png image_sample.png image_logo.png \"$OUTPUT_DIR\")\n\nif [ -f \"$OUTPUT_PATH\" ]; then\n  echo \" Output created: $OUTPUT_PATH\"\n  echo \"$OUTPUT_PATH\"\nelse\n  echo \"Error: Output file not created: $OUTPUT_PATH\"\n  exit 1\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1184,
        1216
      ],
      "id": "d6d2f31a-0d4f-43fd-832b-28469398b20f",
      "name": "AI Select Best Frame Script",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\n\nVIDEO_ID=\"{{ $('Merge YouTube Metadata').first().json.id }}\"\nFILE_NAME=\"{{ $('Read Video File').first().binary.data.fileName }}\"\nOLD_LOGO_FOUND=\"{{ $json.oldLogoFound }}\"\nWIDTH=\"{{ $json.width }}\"\nHEIGHT=\"{{ $json.height }}\"\nX=\"{{ $json.x }}\"\nY=\"{{ $json.y }}\"\nOUTPUT_FILE=\"/home/node/downloads/${VIDEO_ID}_processed.mp4\"\nVIDEO_INPUT=\"/home/node/downloads/${FILE_NAME}\"\nLOGO_INPUT=\"/home/node/downloads/logo_${VIDEO_ID}.png\"\n\nif [ ! -f \"$VIDEO_INPUT\" ]; then\n  echo \"Error: Video file not found: $VIDEO_INPUT\"\n  exit 1\nfi\n\nif [ ! -f \"$LOGO_INPUT\" ]; then\n  echo \"Error: Logo file not found: $LOGO_INPUT\"\n  exit 1\nfi\n\nVIDEO_WIDTH=$(ffprobe -v error -select_streams v:0 -show_entries stream=width  -of csv=p=0 \"$VIDEO_INPUT\")\nVIDEO_HEIGHT=$(ffprobe -v error -select_streams v:0 -show_entries stream=height -of csv=p=0 \"$VIDEO_INPUT\")\nVIDEO_WIDTH=${VIDEO_WIDTH:-0}\nVIDEO_HEIGHT=${VIDEO_HEIGHT:-0}\n\nOLD_LOGO_OK=false\nif [ \"$OLD_LOGO_FOUND\" = \"true\" ] && [ \"$WIDTH\" -gt 0 ] && [ \"$HEIGHT\" -gt 0 ] && [ \"$X\" -ge 0 ] && [ \"$Y\" -ge 0 ]; then\n  if [ \"$VIDEO_WIDTH\" -gt 0 ] && [ \"$VIDEO_HEIGHT\" -gt 0 ]; then\n    if [ $((X + WIDTH)) -le \"$VIDEO_WIDTH\" ] && [ $((Y + HEIGHT)) -le \"$VIDEO_HEIGHT\" ]; then\n      OLD_LOGO_OK=true\n    fi\n  else\n    OLD_LOGO_OK=true\n  fi\nfi\n\nif [ \"$OLD_LOGO_OK\" = \"true\" ]; then\n  echo \"Old logo detected at (${X}, ${Y}) size ${WIDTH}x${HEIGHT} within frame ${VIDEO_WIDTH}x${VIDEO_HEIGHT}\"\n\n  EXPAND=15\n  DELOGO_X=$((X - EXPAND))\n  DELOGO_Y=$((Y - EXPAND))\n  DELOGO_W=$((WIDTH + EXPAND * 2))\n  DELOGO_H=$((HEIGHT + EXPAND * 2))\n\n  if [ \"$DELOGO_X\" -lt 0 ]; then DELOGO_X=0; fi\n  if [ \"$DELOGO_Y\" -lt 0 ]; then DELOGO_Y=0; fi\n\n  if [ \"$VIDEO_WIDTH\" -gt 0 ] && [ $((DELOGO_X + DELOGO_W)) -gt \"$VIDEO_WIDTH\" ]; then\n    DELOGO_W=$((VIDEO_WIDTH - DELOGO_X))\n  fi\n  if [ \"$VIDEO_HEIGHT\" -gt 0 ] && [ $((DELOGO_Y + DELOGO_H)) -gt \"$VIDEO_HEIGHT\" ]; then\n    DELOGO_H=$((VIDEO_HEIGHT - DELOGO_Y))\n  fi\n\n  SCALE_NUM=5\n  SCALE_DEN=2\n  NEW_WIDTH=$((WIDTH * SCALE_NUM / SCALE_DEN))\n  NEW_HEIGHT=$((HEIGHT * SCALE_NUM / SCALE_DEN))\n\n  OFFSET_X=$(((NEW_WIDTH - WIDTH) / 2))\n  OFFSET_Y=$(((NEW_HEIGHT - HEIGHT) / 2))\n  NEW_X=$((X - OFFSET_X))\n  NEW_Y=$((Y - OFFSET_Y))\n\n  if [ \"$NEW_X\" -lt 0 ]; then NEW_X=0; fi\n  if [ \"$NEW_Y\" -lt 0 ]; then NEW_Y=0; fi\n\n  echo \"Mode: delogo + enlarged overlay\"\n  echo \"Delogo: x=${DELOGO_X}, y=${DELOGO_Y}, w=${DELOGO_W}, h=${DELOGO_H}\"\n  echo \"Overlay: x=${NEW_X}, y=${NEW_Y}, w=${NEW_WIDTH}, h=${NEW_HEIGHT}\"\n\n  nice -n 10 ffmpeg -y \\\n    -i \"$VIDEO_INPUT\" \\\n    -i \"$LOGO_INPUT\" \\\n    -filter_complex \"[0:v]delogo=x=${DELOGO_X}:y=${DELOGO_Y}:w=${DELOGO_W}:h=${DELOGO_H}[v0];[v0]drawbox=x=${X}:y=${Y}:w=${WIDTH}:h=${HEIGHT}:color=black@0.98:t=fill[v1];[1:v]scale=${NEW_WIDTH}:${NEW_HEIGHT}[logo];[v1][logo]overlay=${NEW_X}:${NEW_Y}[v]\" \\\n    -map \"[v]\" -map 0:a? \\\n    -c:v libx264 -preset veryfast -crf 25 \\\n    -c:a copy \\\n    \"$OUTPUT_FILE\"\nelse\n  echo \"Mode: overlay logo at top-right (no valid old logo)\"\n\n  DEFAULT_LOGO_WIDTH=220\n  DEFAULT_LOGO_HEIGHT=110\n  PADDING=10\n\n  nice -n 10 ffmpeg -y \\\n    -i \"$VIDEO_INPUT\" \\\n    -i \"$LOGO_INPUT\" \\\n    -filter_complex \"[1:v]scale=${DEFAULT_LOGO_WIDTH}:${DEFAULT_LOGO_HEIGHT}[logo];[0:v][logo]overlay=W-w-${PADDING}:${PADDING}[v]\" \\\n    -map \"[v]\" -map 0:a? \\\n    -c:v libx264 -preset veryfast -crf 25 \\\n    -c:a copy \\\n    \"$OUTPUT_FILE\"\nfi\n\nif [ -f \"$OUTPUT_FILE\" ]; then\n  echo \"Video processing completed: $OUTPUT_FILE\"\n  ls -lh \"$OUTPUT_FILE\"\nelse\n  echo \"Error: Output file not created!\"\n  exit 1\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1360,
        1216
      ],
      "id": "0f199f48-ce8a-4b3e-94a5-c7c264f30de5",
      "name": "Process Video"
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\n\nVIDEO_ID=\"{{ $('Merge YouTube Metadata').first().json.id }}\"\nINTRO_VIDEO_URL=\"{{ $('Get Video Information').first().json.intro_background_url || '' }}\"\n\nVIDEO_INPUT=\"/home/node/downloads/${VIDEO_ID}_processed.mp4\"\nVIDEO_OUTPUT=\"/home/node/downloads/${VIDEO_ID}_processed.mp4\"\nVIDEO_OUTPUT_TEMP=\"/home/node/downloads/${VIDEO_ID}_processed_temp.mp4\"\nOUTPUT_DIR=\"/home/node/downloads\"\n\nif [ ! -f \"$VIDEO_INPUT\" ]; then\n  echo \"Error: Processed video file not found: $VIDEO_INPUT\"\n  exit 1\nfi\n\nif [ -z \"$INTRO_VIDEO_URL\" ] || [ \"$INTRO_VIDEO_URL\" = \"\" ]; then\n  echo \"No intro video URL provided - copy original\"\n  cp \"$VIDEO_INPUT\" \"$VIDEO_OUTPUT\"\n  exit 0\nfi\n\nINTRO_VIDEO=\"${OUTPUT_DIR}/intro_${VIDEO_ID}.mp4\"\n\nif echo \"$INTRO_VIDEO_URL\" | grep -q \"drive.google.com\"; then\n  FILE_ID=\"\"\n  FILE_ID=$(echo \"$INTRO_VIDEO_URL\" | sed -n 's/.*\\/d\\/\\([^\\/]*\\)\\/.*/\\1/p' | head -1)\n  if [ -z \"$FILE_ID\" ]; then\n    FILE_ID=$(echo \"$INTRO_VIDEO_URL\" | sed -n 's/.*[?&]id=\\([^&]*\\).*/\\1/p' | head -1)\n  fi\n  if [ -z \"$FILE_ID\" ]; then\n    if echo \"$INTRO_VIDEO_URL\" | grep -qE '^[a-zA-Z0-9_-]+$'; then\n      FILE_ID=\"$INTRO_VIDEO_URL\"\n    fi\n  fi\n  if [ -n \"$FILE_ID\" ]; then\n    INTRO_VIDEO_URL=\"https://drive.google.com/uc?export=download&id=${FILE_ID}\"\n  fi\nfi\n\necho \"Downloading intro video from: $INTRO_VIDEO_URL\"\nwget -O \"$INTRO_VIDEO\" \"$INTRO_VIDEO_URL\" || {\n  echo \"Error: Failed to download intro video\"\n  exit 1\n}\n\nif [ ! -f \"$INTRO_VIDEO\" ] || [ ! -s \"$INTRO_VIDEO\" ]; then\n  echo \"Error: Intro video file is empty or not found\"\n  exit 1\nfi\n\nMAIN_W=$(ffprobe -v error -select_streams v:0 -show_entries stream=width  -of csv=p=0 \"$VIDEO_INPUT\")\nMAIN_H=$(ffprobe -v error -select_streams v:0 -show_entries stream=height -of csv=p=0 \"$VIDEO_INPUT\")\nMAIN_FPS=$(ffprobe -v error -select_streams v:0 -show_entries stream=r_frame_rate -of csv=p=0 \"$VIDEO_INPUT\")\nMAIN_HAS_AUDIO=$(ffprobe -v error -select_streams a:0 -count_frames -show_entries stream=codec_name -of csv=p=0 \"$VIDEO_INPUT\" 2>/dev/null || true)\n\nINTRO_TEMP=\"${OUTPUT_DIR}/intro_scaled_${VIDEO_ID}.mp4\"\n\nif [ -n \"$MAIN_HAS_AUDIO\" ]; then\n  INTRO_HAS_AUDIO=$(ffprobe -v error -select_streams a:0 -count_frames -show_entries stream=codec_name -of csv=p=0 \"$INTRO_VIDEO\" 2>/dev/null || true)\n  if [ -n \"$INTRO_HAS_AUDIO\" ]; then\n    ffmpeg -y \\\n      -i \"$INTRO_VIDEO\" \\\n      -vf \"scale=${MAIN_W}:${MAIN_H}:force_original_aspect_ratio=decrease,pad=${MAIN_W}:${MAIN_H}:(ow-iw)/2:(oh-ih)/2:color=black,fps=${MAIN_FPS}\" \\\n      -af \"aresample=48000:resampler=soxr\" \\\n      -c:v libx264 -preset veryfast -crf 23 -pix_fmt yuv420p \\\n      -c:a aac -ar 48000 -ac 2 -b:a 128k \\\n      \"$INTRO_TEMP\"\n  else\n    ffmpeg -y \\\n      -i \"$INTRO_VIDEO\" \\\n      -f lavfi -i anullsrc=channel_layout=stereo:sample_rate=48000 \\\n      -vf \"scale=${MAIN_W}:${MAIN_H}:force_original_aspect_ratio=decrease,pad=${MAIN_W}:${MAIN_H}:(ow-iw)/2:(oh-ih)/2:color=black,fps=${MAIN_FPS}\" \\\n      -c:v libx264 -preset veryfast -crf 23 -pix_fmt yuv420p \\\n      -c:a aac -ar 48000 -ac 2 -b:a 128k \\\n      -shortest \\\n      \"$INTRO_TEMP\"\n  fi\nelse\n  ffmpeg -y \\\n    -i \"$INTRO_VIDEO\" \\\n    -vf \"scale=${MAIN_W}:${MAIN_H}:force_original_aspect_ratio=decrease,pad=${MAIN_W}:${MAIN_H}:(ow-iw)/2:(oh-ih)/2:color=black,fps=${MAIN_FPS}\" \\\n    -c:v libx264 -preset veryfast -crf 23 -pix_fmt yuv420p \\\n    \"$INTRO_TEMP\"\nfi\n\nif [ -n \"$MAIN_HAS_AUDIO\" ]; then\n  ffmpeg -y \\\n    -i \"$INTRO_TEMP\" -i \"$VIDEO_INPUT\" \\\n    -filter_complex \"[0:a]aresample=48000:resampler=soxr[a0];[0:v][a0][1:v][1:a]concat=n=2:v=1:a=1[outv][outa]\" \\\n    -map \"[outv]\" -map \"[outa]\" \\\n    -c:v libx264 -preset veryfast -crf 23 -pix_fmt yuv420p \\\n    -c:a aac -ar 48000 -ac 2 -b:a 128k \\\n    \"$VIDEO_OUTPUT_TEMP\"\nelse\n  ffmpeg -y \\\n    -i \"$INTRO_TEMP\" -i \"$VIDEO_INPUT\" \\\n    -filter_complex \"[0:v][1:v]concat=n=2:v=1[outv]\" \\\n    -map \"[outv]\" \\\n    -c:v libx264 -preset veryfast -crf 23 -pix_fmt yuv420p \\\n    \"$VIDEO_OUTPUT_TEMP\"\nfi\n\nif [ ! -f \"$VIDEO_OUTPUT_TEMP\" ]; then\n  echo \"Error: Output file not created!\"\n  exit 1\nfi\n\nrm -f \"$VIDEO_INPUT\"\nmv \"$VIDEO_OUTPUT_TEMP\" \"$VIDEO_OUTPUT\"\nrm -f \"$INTRO_TEMP\" \"$INTRO_VIDEO\"\n\nif [ -f \"$VIDEO_OUTPUT\" ]; then\n  echo \"Video with intro created: $VIDEO_OUTPUT\"\n  ls -lh \"$VIDEO_OUTPUT\"\nelse\n  echo \"Error: Final output file not found!\"\n  exit 1\nfi\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        784,
        1504
      ],
      "id": "34d7f87d-bcf8-4c0e-8121-c400b4ee3608",
      "name": "Insert Background Intro",
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\n\nVIDEO_ID=\"{{ $('Merge YouTube Metadata').first().json.id }}\"\nDRIVE_UUID=\"{{ $('Merge YouTube Metadata').first().json.driveUuid }}\"\nSOURCE_FILE=\"/home/node/downloads/${VIDEO_ID}_processed.mp4\"\nDEST_PATH=\"gdrive:reup-ytb/${DRIVE_UUID}.mp4\"\n\nif [ ! -f \"$SOURCE_FILE\" ]; then\n  echo \"ERROR: Source file not found: $SOURCE_FILE\" >&2\n  ls -lh /home/node/downloads >&2 || true\n  exit 1\nfi\n\nrclone copyto \"$SOURCE_FILE\" \"$DEST_PATH\" -P\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        976,
        1504
      ],
      "id": "dda8af58-bf5c-47f1-ae16-178b765e341a",
      "name": "Upload to Drive",
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "=rclone link \"gdrive:reup-ytb/{{ $('Merge YouTube Metadata').first().json.driveUuid }}.mp4\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1168,
        1504
      ],
      "id": "6fd465c6-f85d-41a9-a50c-e48fd1997527",
      "name": "Get Drive Link",
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "=rm -f \"/home/node/downloads/frame_{{ $('Merge YouTube Metadata').first().json.id }}.jpg\" \"/home/node/downloads/logo_{{ $('Merge YouTube Metadata').first().json.id }}.png\" \"/home/node/downloads/{{ $('Merge YouTube Metadata').first().json.id }}.mp4\" \"/home/node/downloads/{{ $('Merge YouTube Metadata').first().json.id }}_processed.mp4\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1984,
        1504
      ],
      "id": "b13b4b27-a492-4327-a3ff-b6457013a260",
      "name": "Cleanup Files",
      "executeOnce": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst driveLinkItem = allItems.find(item => item.json.stdout !== undefined);\nconst metadataItem = allItems.find(item => item.json.youtube_title !== undefined || item.json.youtube_description !== undefined);\n\nconst driveLink = driveLinkItem ? String(driveLinkItem.json.stdout || '').trim() : '';\nconst youtubeTitle = metadataItem ? String(metadataItem.json.youtube_title || '').trim() : '';\nconst youtubeDescription = metadataItem ? String(metadataItem.json.youtube_description || '').trim() : '';\n\nreturn {\n  json: {\n    stdout: driveLink,\n    title: youtubeTitle,\n    description: youtubeDescription\n  }\n};"
      },
      "id": "3ac5612c-39b4-46c8-a026-c3eb08bf7245",
      "name": "Merge For Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        1392
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1492578399,
          "mode": "list",
          "cachedResultName": "videos_template.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI/edit#gid=1492578399"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "youtube_title": "={{ $json.title || '' }}",
            "youtube_description": "={{ $json.description }}",
            "id": "={{ $('Get Video Information').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_title",
              "displayName": "video_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "youtube_title",
              "displayName": "youtube_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_description",
              "displayName": "youtube_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_video_drive_link",
              "displayName": "processed_video_drive_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ed1a4f84-7db0-440f-b18f-b0377d5cd635",
      "name": "Update Drive Link",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2640,
        1392
      ],
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdFF9k2O5WBsk28B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {
          "maxOutputTokens": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        1536
      ],
      "id": "a95e624d-adf3-440c-abde-127dfde363c6",
      "name": "Detect Logo (AI)",
      "credentials": {
        "googlePalmApi": {
          "id": "H1JSwNE1NdapUMQa",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=VIDEO_ID=\"{{ $json.id }}\"\nLINK=\"{{ $json.processed_video_drive_link }}\"\n\n[ -z \"$LINK\" ] && exit 0\n\nFILE_ID=$(echo \"$LINK\" | sed -n 's/.*\\/d\\/\\([^\\/]*\\)\\/.*/\\1/p')\n[ -z \"$FILE_ID\" ] && FILE_ID=$(echo \"$LINK\" | sed -n 's/.*[?&]id=\\([^&]*\\).*/\\1/p')\n[ -z \"$FILE_ID\" ] && echo \"$LINK\" | grep -qE '^[a-zA-Z0-9_-]+$' && FILE_ID=\"$LINK\"\n[ -z \"$FILE_ID\" ] && exit 0\n\nURL=\"https://drive.google.com/uc?export=download&id=${FILE_ID}\"\n\nheader=$(wget --server-response --spider -q \"$URL\" 2>&1)\nname=$(echo \"$header\" | sed -n 's/.*filename=\"\\([^\"]*\\)\".*/\\1/p')\n\n[ -z \"$name\" ] && name=\"${VIDEO_ID}.mp4\"\n\nmkdir -p /home/node/downloads\n\nOUTPUT=\"/home/node/downloads/$name\"\n\nwget -q \"$URL\" -O \"$OUTPUT\"\n\n[ ! -s \"$OUTPUT\" ] && exit 0\n\necho \"$OUTPUT\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -336,
        -112
      ],
      "id": "cfae558c-141d-4359-a964-2d2b6225931f",
      "name": "Download Processed Video From Drive"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -64,
        -112
      ],
      "id": "84851402-2a8f-43b0-be69-85e4572cde3e",
      "name": "Read Processed Video For YouTube",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const videoInfo = $('Get Video Information').first().json;\nconst currentItem = $input.item;\n\nif (!currentItem.binary || !currentItem.binary.data) {\n  throw new Error('No video binary found from \"Read Processed Video For YouTube\"');\n}\n\nconst binaryData = currentItem.binary.data;\nif (!binaryData.data && !binaryData.mimeType) {\n  throw new Error('Invalid binary data structure');\n}\n\nconst enableYoutubeUpload = videoInfo.enable_youtube_upload || '';\nconst normalizedValue = String(enableYoutubeUpload).trim().toLowerCase();\nconst shouldUpload = normalizedValue === 'true' || normalizedValue === '1' || normalizedValue === 'yes';\n\nlet originalMimeType = binaryData.mimeType || 'application/mp4';\nlet fixedMimeType = originalMimeType;\n\nif (originalMimeType === 'application/mp4' || originalMimeType === 'application/x-mp4') {\n  fixedMimeType = 'video/mp4';\n}\n\nconst mergedData = {\n  json: {\n    ...videoInfo,\n    id: videoInfo.id || currentItem.json.id || '',\n    enable_youtube_upload_normalized: normalizedValue,\n    enable_youtube_upload_should_upload: shouldUpload\n  },\n  binary: {\n    data: {\n      ...binaryData,\n      mimeType: fixedMimeType\n    }\n  }\n};\n\nreturn mergedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -112
      ],
      "id": "a3181038-51dc-460e-92d5-a3cf24c9257e",
      "name": "Merge Data For YouTube Check",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7c1b9d2-4f3a-4d9b-9c1e-7a6b5c4d3e2f",
              "leftValue": "={{ $json.enable_youtube_upload_should_upload || false }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        -112
      ],
      "id": "604ce0c2-ce3d-4e1b-8bcc-f269cb34143b",
      "name": "Check Should Upload To YouTube",
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ (() => { const parseMeta = $('Parse Video Metadata'); const sheetData = $('Get Video Information').first().json; if (parseMeta && parseMeta.isExecuted && parseMeta.first() && parseMeta.first().json.youtube_title && String(parseMeta.first().json.youtube_title).trim() !== '') { return parseMeta.first().json.youtube_title; } return sheetData.youtube_title || sheetData.video_title || ''; })() }}",
        "regionCode": "VN",
        "categoryId": "={{ (() => { const cat = String($('Get Video Information').first().json.youtube_category || 'other').toLowerCase().trim(); const map = { 'other': 24, 'hoạt hình': 1, 'âm nhạc': 10, 'tâm sự': 24, 'music': 10, 'animation': 1, 'entertainment': 24 }; return map[cat] || 24; })() }}",
        "options": {
          "description": "={{ (() => { const parseMeta = $('Parse Video Metadata'); const sheetData = $('Get Video Information').first().json; if (parseMeta && parseMeta.isExecuted && parseMeta.first() && parseMeta.first().json.youtube_description && String(parseMeta.first().json.youtube_description).trim() !== '') { return parseMeta.first().json.youtube_description; } return sheetData.youtube_description || ''; })() }}",
          "privacyStatus": "={{ $('Get Video Information').first().json.youtube_privacy || 'private' }}",
          "selfDeclaredMadeForKids": false
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        720,
        -112
      ],
      "id": "543f6cb9-3634-4818-a206-920ac50efc80",
      "name": "Upload To YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Ef2jyb1R1QxY5Wru",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1492578399,
          "mode": "list",
          "cachedResultName": "videos_template.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-JdoLLwnsG4460c3BNS70jmZdDLKHelzZUWTG2g_BsI/edit#gid=1492578399"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Video Information').first().json.id }}",
            "publish_status": "published"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "publish_status",
              "displayName": "publish_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a00572f7-ad28-495e-b7cb-adccf16840ae",
      "name": "Update Publish Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        992,
        -112
      ],
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdFF9k2O5WBsk28B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ready-to-publish-check",
              "leftValue": "={{ $json.publish_status.trim().toLowerCase() }}",
              "rightValue": "=pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "187a5245-64d9-4544-84bf-d9e2334cbeea",
              "leftValue": "={{ $json.enable_youtube_upload }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "45d4d702-3714-402f-826d-8a59516b23d5",
              "leftValue": "={{ $json.processed_video_drive_link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1616,
        224
      ],
      "id": "4c18a63e-c1a2-4dc5-b6a7-7ee9d1cc46d9",
      "name": "Publish video",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "45d4d702-3714-402f-826d-8a59516b23d5",
              "leftValue": "={{ $json.youtube_title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "7a67a065-2c2b-428a-8e16-9f3724890494",
              "leftValue": "={{ $json.youtube_category }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4fe95cde-0177-40cf-ba63-1ad52ca224a3",
              "leftValue": "={{ $json.youtube_description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1200,
        112
      ],
      "id": "65c9467a-09c4-41b9-aa4d-900957ea28ba",
      "name": "Meta_data",
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2080,
        224
      ],
      "id": "23d6710e-0d4f-45ad-82ac-0df962984f9a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -1872,
        448
      ],
      "id": "2f5b4550-e57c-473c-8b2b-55f44d23ae74"
    },
    {
      "parameters": {
        "jsCode": "const videoInfo = $('Get Video Information').all();\nconst totalVideos = videoInfo.length;\n\nconst now = new Date();\nconst timeStr = now.toLocaleString('vi-VN', { \n  timeZone: 'Asia/Ho_Chi_Minh',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\nconst successVideos = [];\nconst errorVideos = [];\nconst youtubeUploads = [];\n\nvideoInfo.forEach(item => {\n  const id = item.json.id || '';\n  const title = item.json.video_title || item.json.youtube_title || id;\n  const driveLink = item.json.processed_video_drive_link || '';\n  const publishStatus = (item.json.publish_status || '').toLowerCase();\n  const status = (item.json.status || '').toLowerCase();\n  \n  if (publishStatus === 'published') {\n    let youtubeLink = '';\n    try {\n      const uploadResult = $('Upload To YouTube');\n      if (uploadResult && uploadResult.isExecuted) {\n        const allUploads = uploadResult.all();\n        const matchingUpload = allUploads.find(u => {\n          const uploadTitle = u.json.title || '';\n          return uploadTitle === title || uploadTitle === item.json.youtube_title;\n        });\n        \n        if (matchingUpload) {\n          const videoId = matchingUpload.json.id || matchingUpload.json.videoId || '';\n          if (videoId) {\n            youtubeLink = `https://www.youtube.com/watch?v=${videoId}`;\n          }\n        }\n      }\n    } catch (e) {\n      console.log('Could not get YouTube link from execution context:', e.message);\n    }\n    \n    youtubeUploads.push({\n      id: id,\n      title: title,\n      youtubeLink: youtubeLink\n    });\n  }\n  \n  if (driveLink && driveLink.trim() !== '') {\n    const isPublished = publishStatus === 'published';\n    successVideos.push({\n      id: id,\n      title: title,\n      driveLink: driveLink,\n      isPublished: isPublished\n    });\n  } else if (status !== 'done' && !driveLink) {\n    errorVideos.push({\n      id: id,\n      title: title,\n      reason: 'Chưa có drive link'\n    });\n  }\n});\n\nlet message = '';\n\nif (youtubeUploads.length > 0) {\n  message += `🎬 *YouTube Upload Thành Công: ${youtubeUploads.length} video*\n\n`;\n  youtubeUploads.forEach((video, index) => {\n    message += `${index + 1}. *${video.title}* (${video.id})\n`;\n    if (video.youtubeLink) {\n      message += `   🔗 ${video.youtubeLink}\n`;\n    }\n    message += `   ⏰ Thời gian upload: ${timeStr}\n\n`;\n  });\n}\n\nif (successVideos.length > 0) {\n  message += `✅ *Upload Drive thành công: ${successVideos.length} video*\n\n`;\n  successVideos.forEach((video, index) => {\n    const publishedBadge = video.isPublished ? ' 🎬 Published' : '';\n    message += `${index + 1}. *${video.title}* (${video.id})${publishedBadge}\n`;\n    message += `   📎 ${video.driveLink}\n\n`;\n  });\n}\n\nif (errorVideos.length > 0) {\n  message += `❌ *Lỗi: ${errorVideos.length} video*\n\n`;\n  errorVideos.forEach((video, index) => {\n    message += `${index + 1}. *${video.title}* (${video.id})\n`;\n    message += `   ⚠️ ${video.reason}\n\n`;\n  });\n}\n\nif (successVideos.length === 0 && errorVideos.length === 0 && youtubeUploads.length === 0) {\n  message = `ℹ️ Không có video nào được xử lý trong batch này.\n\n⏰ Thời gian: ${timeStr}`;\n} else {\n  message += `⏰ Thời gian batch: ${timeStr}\n🔄 Workflow: YouTube Video Processing`;\n}\n\nreturn {\n  json: {\n    message: message,\n    totalVideos: totalVideos,\n    successCount: successVideos.length,\n    errorCount: errorVideos.length,\n    youtubeUploadCount: youtubeUploads.length,\n    timestamp: timeStr\n  }\n};"
      },
      "id": "2462e053-7b29-481d-baff-747cdbd27b7d",
      "name": "Prepare Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09QG88TFJM",
          "mode": "id"
        },
        "text": "={{ $json.message || '🎉 Done processing all YouTube jobs! Time: ' + new Date().toLocaleString('vi-VN') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1808,
        -32
      ],
      "id": "29be67a4-e4dc-4c35-a875-15d9234e7139",
      "name": "Send a message",
      "webhookId": "ee2d48b4-7741-4eda-be7e-f299880b5106",
      "credentials": {
        "slackApi": {
          "id": "r5gqdIaSja4mpw9V",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Bạn là chuyên gia tối ưu hóa metadata YouTube. Nhiệm vụ của bạn là tạo tiêu đề và mô tả YouTube mới dựa trên video_title đầu vào.\n\nDỮ LIỆU ĐẦU VÀO:\nvideo_title: ={{ $json.video_title }}\n\n========================================\nYÊU CẦU BẮT BUỘC CHO TIÊU ĐỀ (youtube_title)\n========================================\n- Độ dài: CHÍNH XÁC 60-100 ký tự (tính toàn bộ ký tự, bao gồm khoảng trắng)\n- Tiêu đề phải hấp dẫn, thu hút click và tối ưu SEO\n- Phải chứa từ khóa chính liên quan đến video_title đầu vào\n- Dùng Title Case hoặc Sentence Case (một kiểu duy nhất)\n- KHÔNG được dùng emoji hoặc ký tự đặc biệt (ngoại trừ dấu chấm, phẩy, dấu gạch)\n- Không được thừa khoảng trắng ở đầu hoặc cuối\n\n========================================\nYÊU CẦU BẮT BUỘC CHO MÔ TẢ (youtube_description)\n========================================\n- Độ dài: 200-5000 ký tự (tối thiểu 200, tối ưu 500-2000)\n- 2-3 dòng đầu phải chứa từ khóa chính của video_title và thu hút người xem\n- Nội dung phải liên quan chặt chẽ tới video, mô tả rõ ràng giá trị video\n- Có thể thêm lời kêu gọi hành động (Subscribe, Like)\n- Có thể thêm timestamp, link, hoặc hashtag (3-10 hashtag) nếu phù hợp\n- Sử dụng ký tự \\n để xuống dòng (không xuống dòng thật)\n- Không được thừa khoảng trắng ở đầu hoặc cuối\n\n========================================\nYÊU CẦU VỀ ĐỊNH DẠNG OUTPUT (CỰC KỲ QUAN TRỌNG - SẼ ĐƯỢC PARSE BẰNG JSON.parse())\n========================================\nBạn PHẢI trả về DUY NHẤT một JSON object hợp lệ có đúng 2 trường:\n\n{\"youtube_title\":\"...\",\"youtube_description\":\"...\"}\n\nQUY ĐỊNH NGHIÊM NGẶT:\n- KHÔNG được dùng markdown code blocks (```json, ```)\n- KHÔNG có văn bản giải thích bên ngoài JSON\n- KHÔNG có comment trong JSON (//, /* */)\n- KHÔNG có trailing comma\n- KHÔNG được trả về array ([{...}])\n- KHÔNG được thêm bất kỳ trường nào khác\n- Tất cả giá trị phải là string, dùng dấu nháy kép \"\n- Escape special characters đúng cách: \\\" cho quotes, \\\\ cho backslash, \\n cho newline\n- JSON phải hợp lệ và parse được bằng JSON.parse()\n- Field names PHẢI chính xác: \"youtube_title\" và \"youtube_description\" (lowercase, underscore)\n\nVÍ DỤ FORMAT ĐÚNG:\n{\"youtube_title\":\"This Is An Example YouTube Title That Is Between 60 And 100 Characters Long\",\"youtube_description\":\"This is an example description that must be at least 200 characters long to meet the requirements. It should include relevant keywords and be engaging for viewers. You can add more content here to reach the minimum character count. This description should provide value and encourage viewers to watch the video.\"}\n\n========================================\nĐIỀU KIỆN BẮT BUỘC PHẢI ĐẠT\n========================================\n- youtube_title: 60-100 ký tự (inclusive), non-empty string\n- youtube_description: 200-5000 ký tự (inclusive), non-empty string\n- Cả hai field đều bắt buộc, không được null hoặc undefined\n- KHÔNG được dùng emoji\n- Response phải parse được bằng JSON.parse() không lỗi\n\n========================================\nHÃY TIẾN HÀNH TẠO TIÊU ĐỀ VÀ MÔ TẢ NGAY BÂY GIỜ.\nCHỈ TRẢ VỀ ĐÚNG JSON OBJECT, KHÔNG THÊM BẤT KỲ THỨ GÌ KHÁC.\nKHÔNG CÓ MARKDOWN, KHÔNG CÓ GIẢI THÍCH, CHỈ CÓ JSON OBJECT THUẦN TÚY.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -992,
        208
      ],
      "id": "83fd712c-fd33-4871-9f1c-ec0d55b4f86d",
      "name": "Generate metadata",
      "credentials": {
        "googlePalmApi": {
          "id": "H1JSwNE1NdapUMQa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Video Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Information": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Processed Video From Drive": {
      "main": [
        [
          {
            "node": "Read Processed Video For YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video Metadata": {
      "main": [
        [
          {
            "node": "Merge For Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video URL": {
      "main": [
        [
          {
            "node": "Extract YouTube Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract YouTube Metadata": {
      "main": [
        [
          {
            "node": "Merge YouTube Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge YouTube Metadata": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Read Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video File": {
      "main": [
        [
          {
            "node": "Extract Frame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Frame": {
      "main": [
        [
          {
            "node": "Read Frame File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Frame File": {
      "main": [
        [
          {
            "node": "Download New Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download New Logo": {
      "main": [
        [
          {
            "node": "Download Old Logo Sample",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Old Logo Sample": {
      "main": [
        [
          {
            "node": "Read Old Logo Sample",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Old Logo Sample": {
      "main": [
        [
          {
            "node": "Detect Logo (AI)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detect Logo (AI) 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Logo (AI) 2": {
      "main": [
        [
          {
            "node": "Parse Logo Coordinates 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Logo Coordinates": {
      "main": [
        [
          {
            "node": "Merge 2 Detection Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Logo Coordinates 2": {
      "main": [
        [
          {
            "node": "Merge 2 Detection Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 2 Detection Results": {
      "main": [
        [
          {
            "node": "Choose Best Logo Coordinates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose Best Logo Coordinates": {
      "main": [
        [
          {
            "node": "Create Logo Coordinates File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Logo Coordinates File": {
      "main": [
        [
          {
            "node": "AI Select Best Frame Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Select Best Frame Script": {
      "main": [
        [
          {
            "node": "Process Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Video": {
      "main": [
        [
          {
            "node": "Insert Background Intro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Background Intro": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "Get Drive Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Drive Link": {
      "main": [
        [
          {
            "node": "Merge For Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge For Update": {
      "main": [
        [
          {
            "node": "Update Drive Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Drive Link": {
      "main": [
        [
          {
            "node": "Cleanup Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Processed Video For YouTube": {
      "main": [
        [
          {
            "node": "Merge Data For YouTube Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data For YouTube Check": {
      "main": [
        [
          {
            "node": "Check Should Upload To YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Should Upload To YouTube": {
      "main": [
        [
          {
            "node": "Upload To YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload To YouTube": {
      "main": [
        [
          {
            "node": "Update Publish Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Logo (AI)": {
      "main": [
        [
          {
            "node": "Parse Logo Coordinates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish video": {
      "main": [
        [
          {
            "node": "Meta_data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta_data": {
      "main": [
        [
          {
            "node": "Download Processed Video From Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Prepare Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Publish video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Slack Message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate metadata": {
      "main": [
        [
          {
            "node": "Parse Video Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3bb8716f-f259-4ba2-954b-fedc947167be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85d7322ab387263001b31b703ad4747f32bd4ef2ff67525ffd22eeafb96c1d17"
  },
  "id": "YU0nXRX3QnVtHos1",
  "tags": []
}
