src/workflow_v2.json
{
  "name": "test",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const extractTextFromResponse = (response) => {\n  if (Array.isArray(response) && response.length > 0) {\n    const firstItem = response[0];\n    const textPart = firstItem.content?.parts?.[0];\n    if (textPart?.text) return textPart.text.trim();\n  }\n  if (response.candidates && response.candidates.length > 0) {\n    const textPart = response.candidates[0].content?.parts?.find(part => part.text);\n    if (textPart?.text) return textPart.text.trim();\n  }\n  if (response.content?.parts?.length > 0) {\n    const textPart = response.content.parts[0];\n    if (textPart?.text) return textPart.text.trim();\n  }\n  return null;\n};\n\nconst cleanJsonText = (text) => {\n  let cleaned = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n  return jsonMatch ? jsonMatch[0] : cleaned;\n};\n\nconst parseMetadata = (text) => {\n  try {\n    const meta = JSON.parse(text);\n    if (!meta || typeof meta !== 'object') {\n      return { error: 'Parsed result is not an object', raw: meta };\n    }\n    return {\n      youtube_title: meta.youtube_title ? String(meta.youtube_title).trim() : '',\n      youtube_description: meta.youtube_description ? String(meta.youtube_description).trim() : '',\n      raw: meta\n    };\n  } catch (e) {\n    return { error: `Parse error: ${e.message}`, rawText: text.substring(0, 400) };\n  }\n};\n\nconst response = $input.item.json;\n\nif (response.error) {\n  return {\n    json: {\n      youtube_title: '',\n      youtube_description: '',\n      error: `API Error: ${response.error.message || JSON.stringify(response.error)}`,\n      valid: false,\n      raw: response\n    }\n  };\n}\n\nconst rawText = extractTextFromResponse(response);\nif (!rawText) {\n  return {\n    json: {\n      youtube_title: '',\n      youtube_description: '',\n      error: 'No text found in response',\n      valid: false,\n      raw: response\n    }\n  };\n}\n\nconst cleanedText = cleanJsonText(rawText);\nconst parsed = parseMetadata(cleanedText);\n\nif (parsed.error) {\n  return {\n    json: {\n      youtube_title: '',\n      youtube_description: '',\n      error: parsed.error,\n      valid: false,\n      rawText: parsed.rawText,\n      raw: parsed.raw\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...$input.item.json,\n    youtube_title: parsed.youtube_title,\n    youtube_description: parsed.youtube_description,\n    error: null,\n    valid: !!(parsed.youtube_title && parsed.youtube_description),\n    raw: parsed.raw\n  }\n};"
      },
      "id": "5f49beb0-8964-4932-ad07-553c3d9b1612",
      "name": "Parse Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        1648
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2736,
        672
      ],
      "id": "112e57cc-e025-44a8-a843-22d20ac885ba",
      "name": "Trigger Lịch Trình"
    },
    {
      "parameters": {
        "documentId": {
          "value": "1ZLe3MXQnW_IgaQ2IOf_kd3c4BMy5upHrTFVPlguXnsw",
          "mode": "id"
        },
        "sheetName": {
          "value": "Templates",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "a0ab0dfb-bcee-44f9-8fb5-414d68aaf9ce",
      "name": "Lấy Thông Tin Video",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2528,
        672
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdFF9k2O5WBsk28B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const generateUuid = () => {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n};\n\nconst row = $('Lấy Thông Tin Video').item.json;\n\nif (!row.id || !row.video_url) {\n  throw new Error('Missing required field: id or video_url');\n}\n\nreturn {\n  json: {\n    id: row.id,\n    video_title: row.video_title,\n    video_url: row.video_url,\n    driveUuid: generateUuid()\n  }\n};\n"
      },
      "id": "93799711-cf0b-44f0-a63a-0350a86bec33",
      "name": "Trích Xuất URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1840,
        992
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=mkdir -p /home/node/.local/bin\nif [ ! -f /home/node/.local/bin/yt-dlp ]; then\n  wget -q https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -O /home/node/.local/bin/yt-dlp\n  chmod +x /home/node/.local/bin/yt-dlp\nfi\nexport PATH=\"/home/node/.local/bin:$PATH\"\nyt-dlp --no-playlist --print \"%(title)s|%(uploader)s|%(description)s\" --no-warnings \"{{ $('Trích Xuất URL').item.json.video_url }}\" 2>/dev/null || echo \"ERROR|ERROR|ERROR\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1632,
        992
      ],
      "id": "9e1027ee-c6db-462a-ac66-214ba1ec96bd",
      "name": "Lấy Metadata YouTube",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const parseYouTubeMetadata = (stdout) => {\n  if (!stdout) return { title: '', description: '' };\n  const parts = stdout.trim().split('|');\n  if (parts.length < 3) return { title: '', description: '' };\n  return {\n    title: parts[0].trim(),\n    description: parts[2].trim().substring(0, 500)\n  };\n};\n\nconst row = $('Lấy Thông Tin Video').item.json;\nconst extractResult = $('Lấy Metadata YouTube').item.json;\nconst extractUrl = $('Trích Xuất URL').item.json;\n\nconst ytMeta = parseYouTubeMetadata(extractResult.stdout);\nconst videoTitle = row.video_title && row.video_title.trim() ? row.video_title.trim() : ytMeta.title;\n\nif (!videoTitle) {\n  throw new Error('Cannot extract video title from YouTube');\n}\n\nreturn {\n  json: {\n    ...extractUrl,\n    video_title: videoTitle,\n    youtube_metadata: {\n      title: ytMeta.title,\n      description: ytMeta.description\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        976
      ],
      "id": "7d6e035f-7aef-4b84-ac78-3d3dde5cb244",
      "name": "Gộp Metadata",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=VIDEO_ID=\"{{ $('Gộp Metadata').item.json.id }}\"\nrm -f \"/home/node/downloads/${VIDEO_ID}.mp4\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -864,
        992
      ],
      "id": "54813eed-37b6-4af0-aeab-5c0e2ef7b71c",
      "name": "Dọn File Cũ",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=mkdir -p /home/node/.local/bin\nif [ ! -f /home/node/.local/bin/yt-dlp ]; then\n  wget -q https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -O /home/node/.local/bin/yt-dlp\n  chmod +x /home/node/.local/bin/yt-dlp\nfi\nexport PATH=\"/home/node/.local/bin:$PATH\"\nyt-dlp --no-playlist -f \"bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best\" --merge-output-format mp4 --no-part -o \"/home/node/downloads/{{ $('Gộp Metadata').item.json.id }}.mp4\" \"{{ $('Gộp Metadata').item.json.video_url }}\" 2\u003e\u00261"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -640,
        992
      ],
      "id": "df65d5de-5f65-41fc-a35e-043aec131135",
      "name": "Tải Video",
      "continueOnFail": true
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/downloads/{{ $('Gộp Metadata').item.json.id }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -368,
        992
      ],
      "id": "3152bdd5-b9cb-42a3-a71d-386979843b9c",
      "name": "Đọc File Video",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "for (const item of $input.all()) {\n  delete item.binary;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        992
      ],
      "id": "3dfc685b-4feb-41fd-8d68-d3f990e9bc06",
      "name": "Xóa Binary Video",
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -i \"/home/node/downloads/{{ $('Gộp Metadata').item.json.id }}.mp4\" -vf \"select=eq(n\\,0)\" -q:v 3 \"/home/node/downloads/frame_{{ $('Gộp Metadata').item.json.id }}.jpg\" 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        144,
        992
      ],
      "id": "e6cd320f-4fdc-40c3-a26c-212ebe5903b1",
      "name": "Trích Xuất Frame",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8000/api/v1/uploads/drive",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "local_path",
              "value": "/home/node/downloads/{{ $('Gộp Metadata').first().json.id }}_processed.mp4"
            },
            {
              "name": "drive_destination",
              "value": "gdrive:reup-ytb/{{ $('Gộp Metadata').first().json.driveUuid }}.mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "2eea28b9-2e05-41ed-9b87-628176ab5269",
      "name": "Gửi Job Upload (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -800,
        1296
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "ce0e61a3-e675-4811-a607-e060896dbdb5",
      "name": "Chờ Upload",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -592,
        1296
      ],
      "webhookId": "e4cfb9c1-e649-4493-9838-87a23c9aaae8"
    },
    {
      "parameters": {
        "url": "=http://172.17.0.1:8000/api/v1/jobs/{{ $json.data.job_id }}",
        "options": {}
      },
      "id": "9355abc4-f611-4cb0-affd-80aabfb68e65",
      "name": "Kiểm Tra Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -400,
        1296
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.status }}",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "42e8fafe-695e-44a6-818e-c3f35d0612a1",
      "name": "Đã Upload Xong?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -144,
        1296
      ]
    },
    {
      "parameters": {
        "url": "=http://172.17.0.1:8000/api/v1/uploads/drive-link",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "drive_path",
              "value": "gdrive:reup-ytb/{{ $('Gộp Metadata').first().json.driveUuid }}.mp4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        112,
        1280
      ],
      "id": "db0f3cae-c98d-4253-88c9-7dd17d23a5ba",
      "name": "Lấy Link Drive",
      "continueOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "value": "1ZLe3MXQnW_IgaQ2IOf_kd3c4BMy5upHrTFVPlguXnsw",
          "mode": "id"
        },
        "sheetName": {
          "value": "Templates",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -560,
        432
      ],
      "id": "21db2ce1-2c61-4816-94fe-a5aa15534de3",
      "name": "Lấy Info Sau Upload",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdFF9k2O5WBsk28B",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "value": "1ZLe3MXQnW_IgaQ2IOf_kd3c4BMy5upHrTFVPlguXnsw",
          "mode": "id"
        },
        "sheetName": {
          "value": "Templates",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed_video_drive_link": "={{ $json.stdout || '' }}",
            "id": "={{ $('Lấy Thông Tin Video').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link File Đã Xử Lý (Auto)",
              "displayName": "Link File Đã Xử Lý (Auto)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "44b9f885-aece-458a-8e73-ca30215e2c40",
      "name": "Cập Nhật Link Drive",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        352,
        1280
      ],
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdFF9k2O5WBsk28B",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "value": "1ZLe3MXQnW_IgaQ2IOf_kd3c4BMy5upHrTFVPlguXnsw",
          "mode": "id"
        },
        "sheetName": {
          "value": "Templates",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        576,
        1264
      ],
      "id": "888a46bb-09b2-4eda-b976-db0a745a88b3",
      "name": "Lấy Info Check YT",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdFF9k2O5WBsk28B",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ready-to-publish-check",
              "leftValue": "={{ $json.publish_status && $json.publish_status.toString().trim().toLowerCase() }}",
              "rightValue": "=pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "enable-youtube-upload-check",
              "leftValue": "={{ $json.enable_youtube_upload }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "drive-link-check",
              "leftValue": "={{ $json.processed_video_drive_link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "youtube-privacy-check",
              "leftValue": "={{ $json.youtube_privacy }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        720
      ],
      "id": "d5e4c1ae-e0bc-4c06-b930-8b53efbebf3f",
      "name": "Check Upload YT (Sau Drive)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8000/api/v1/logos/detect",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_path",
              "value": "/home/node/downloads/frame_{{ $('Gộp Metadata').item.json.id }}.jpg"
            }
          ]
        },
        "options": {}
      },
      "id": "d789e5ed-8baf-4f13-b20c-c5b19f9f113b",
      "name": "Phát Hiện Logo (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        352,
        992
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=VIDEO_ID=\"{{ $json.id }}\"\nLINK=\"{{ $json.processed_video_drive_link }}\"\n\n[ -z \"$LINK\" ] && exit 0\n\nFILE_ID=$(echo \"$LINK\" | sed -n 's/.*\\/d\\/\\([^\\/]*\\)\\/.*/\\1/p')\n[ -z \"$FILE_ID\" ] && FILE_ID=$(echo \"$LINK\" | sed -n 's/.*[?&]id=\\([^&]*\\).*/\\1/p')\n[ -z \"$FILE_ID\" ] && echo \"$LINK\" | grep -qE '^[a-zA-Z0-9_-]+$' && FILE_ID=\"$LINK\"\n[ -z \"$FILE_ID\" ] && exit 0\n\nURL=\"https://drive.google.com/uc?export=download&id=${FILE_ID}\"\n\nheader=$(wget --server-response --spider -q \"$URL\" 2>&1)\nname=$(echo \"$header\" | sed -n 's/.*filename=\"\\([^\"]*\\)\".*/\\1/p')\n\n[ -z \"$name\" ] && name=\"${VIDEO_ID}.mp4\"\n\nmkdir -p /home/node/downloads\n\nOUTPUT=\"/home/node/downloads/$name\"\n\nwget -q \"$URL\" -O \"$OUTPUT\"\n\n[ ! -s \"$OUTPUT\" ] && exit 0\n\necho \"$OUTPUT\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1824,
        304
      ],
      "id": "083448a8-060c-49ff-87a5-1163a6a46ead",
      "name": "Tải Video Đã Xử Lý",
      "continueOnFail": true
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1568,
        240
      ],
      "id": "c100b8c6-6bdc-4b05-8f7d-c441bab269c8",
      "name": "Đọc Video Upload",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const normalizeBoolean = (value) => {\n  if (value === undefined || value === null) return false;\n  const normalized = String(value).trim().toLowerCase();\n  return normalized === 'true' || normalized === '1' || normalized === 'yes';\n};\n\nconst fixMimeType = (mimeType) => {\n  if (mimeType === 'application/mp4' || mimeType === 'application/x-mp4') {\n    return 'video/mp4';\n  }\n  return mimeType;\n};\n\nconst videoInfo = $('Lấy Thông Tin Video').first().json;\nconst currentItem = $input.item;\n\nif (!currentItem.binary || !currentItem.binary.data) {\n  throw new Error('No video binary found from \"Read Processed Video For YouTube\"');\n}\n\nconst binaryData = currentItem.binary.data;\nif (!binaryData.data && !binaryData.mimeType) {\n  throw new Error('Invalid binary data structure');\n}\n\nreturn {\n  json: {\n    ...videoInfo,\n    id: videoInfo.id || currentItem.json.id,\n    enable_youtube_upload_normalized: normalizeBoolean(videoInfo.enable_youtube_upload),\n    enable_youtube_upload_should_upload: normalizeBoolean(videoInfo.enable_youtube_upload)\n  },\n  binary: {\n    data: {\n      ...binaryData,\n      mimeType: fixMimeType(binaryData.mimeType)\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        240
      ],
      "id": "4e26b5f7-a500-4fe0-91b0-ecca6d3df39d",
      "name": "Gộp Data Upload YT",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7c1b9d2-4f3a-4d9b-9c1e-7a6b5c4d3e2f",
              "leftValue": "={{ $json.enable_youtube_upload_should_upload || false }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -928,
        240
      ],
      "id": "82390e61-bcee-4a0f-8ea6-b0dfc04f78f1",
      "name": "Check Điều Kiện Upload",
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ (() => { const getParsedTitle = () => { const parseMeta = $('Parse Metadata'); if (!parseMeta || !parseMeta.isExecuted) return null; const metaItem = parseMeta.first(); if (!metaItem || !metaItem.json || !metaItem.json.youtube_title) return null; const title = String(metaItem.json.youtube_title).trim(); return title ? title : null; }; const parsedTitle = getParsedTitle(); if (parsedTitle) return parsedTitle; const sheetData = $('Lấy Thông Tin Video').first().json; if (sheetData.youtube_title) return sheetData.youtube_title; if (sheetData.video_title) return sheetData.video_title; return null; })() }}",
        "regionCode": "VN",
        "categoryId": "={{ (() => { const CATEGORY_MAP = { 'other': 24, 'hoạt hình': 1, 'âm nhạc': 10, 'tâm sự': 24, 'music': 10, 'animation': 1, 'entertainment': 24 }; const cat = $('Lấy Thông Tin Video').first().json.youtube_category; if (!cat) return null; const catLower = String(cat).toLowerCase().trim(); return CATEGORY_MAP[catLower] || null; })() }}",
        "options": {
          "description": "={{ (() => { const getParsedDescription = () => { const parseMeta = $('Parse Metadata'); if (!parseMeta || !parseMeta.isExecuted) return null; const metaItem = parseMeta.first(); if (!metaItem || !metaItem.json || !metaItem.json.youtube_description) return null; const desc = String(metaItem.json.youtube_description).trim(); return desc ? desc : null; }; const parsedDesc = getParsedDescription(); if (parsedDesc) return parsedDesc; return $('Lấy Thông Tin Video').first().json.youtube_description || null; })() }}",
          "privacyStatus": "={{ $('Lấy Thông Tin Video').first().json.youtube_privacy }}",
          "selfDeclaredMadeForKids": false
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -1168,
        432
      ],
      "id": "35cf0f7d-b275-4834-a797-3445806dc2ee",
      "name": "Upload YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Ef2jyb1R1QxY5Wru",
          "name": "YouTube account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "for (const item of $input.all()) {\n  delete item.binary;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        432
      ],
      "id": "dd0636a8-185b-4349-9e94-6929625739dd",
      "name": "Xóa Binary Upload",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "value": "1ZLe3MXQnW_IgaQ2IOf_kd3c4BMy5upHrTFVPlguXnsw",
          "mode": "id"
        },
        "sheetName": {
          "value": "Templates",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Lấy Thông Tin Video').item.json.id || $('Lấy Thông Tin Video').first().json.id }}",
            "publish_status": "published",
            "youtube_link": "={{ (() => { const extractVideoId = (uploadItem) => { if (!uploadItem || !uploadItem.json) return null; const json = uploadItem.json; if (Array.isArray(json) && json.length > 0) return json[0].uploadId; if (typeof json === 'object' && json !== null) return json.uploadId; return null; }; const uploadResult = $('Upload YouTube'); if (!uploadResult || !uploadResult.isExecuted) return ''; const uploadItem = uploadResult.first(); const videoId = extractVideoId(uploadItem); if (!videoId) return ''; const trimmedId = String(videoId).trim(); return trimmedId ? `https://www.youtube.com/watch?v=${trimmedId}` : ''; })() }}",
            "youtube_upload_time": "={{ (() => { const now = new Date(); const dateStr = now.toLocaleDateString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh', year: 'numeric', month: '2-digit', day: '2-digit' }); const timeStr = now.toLocaleTimeString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh', hour: '2-digit', minute: '2-digit', second: '2-digit' }); return `${dateStr} ${timeStr}`; })() }}",
            "processed_video_drive_link": "={{ (() => { const getDriveLink = $('Lấy Link Drive'); if (getDriveLink && getDriveLink.isExecuted) { const result = getDriveLink.first(); if (result && result.json && result.json.stdout) { return String(result.json.stdout).trim(); } } return $('Lấy Thông Tin Video').first().json.processed_video_drive_link; })() }}",
            "youtube_title": "={{ (() => { const getParsedTitle = () => { const parseMeta = $('Parse Metadata'); if (!parseMeta || !parseMeta.isExecuted) return null; const metaItem = parseMeta.first(); if (!metaItem || !metaItem.json || !metaItem.json.youtube_title) return null; const title = String(metaItem.json.youtube_title).trim(); return title ? title : null; }; const parsedTitle = getParsedTitle(); if (parsedTitle) return parsedTitle; const sheetData = $('Lấy Thông Tin Video').first().json; if (sheetData.youtube_title) return sheetData.youtube_title; if (sheetData.video_title) return sheetData.video_title; return null; })() }}",
            "youtube_description": "={{ (() => { const getParsedDescription = () => { const parseMeta = $('Parse Metadata'); if (!parseMeta || !parseMeta.isExecuted) return null; const metaItem = parseMeta.first(); if (!metaItem || !metaItem.json || !metaItem.json.youtube_description) return null; const desc = String(metaItem.json.youtube_description).trim(); return desc ? desc : null; }; const parsedDesc = getParsedDescription(); if (parsedDesc) return parsedDesc; return $('Lấy Thông Tin Video').first().json.youtube_description || null; })() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "publish_status",
              "displayName": "publish_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_link",
              "displayName": "youtube_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_upload_time",
              "displayName": "youtube_upload_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_video_drive_link",
              "displayName": "processed_video_drive_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_title",
              "displayName": "youtube_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_description",
              "displayName": "youtube_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9c55e078-9cf7-4653-8fd1-05f4aa39ad6a",
      "name": "Cập Nhật Trạng Thái Cuối",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -768,
        432
      ],
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdFF9k2O5WBsk28B",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ready-to-publish-check",
              "leftValue": "={{ $json.publish_status && $json.publish_status.toString().trim().toLowerCase() }}",
              "rightValue": "=pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "enable-youtube-upload-check",
              "leftValue": "={{ $json.enable_youtube_upload }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "drive-link-check",
              "leftValue": "={{ $json.processed_video_drive_link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "youtube-privacy-check",
              "leftValue": "={{ $json.youtube_privacy }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2064,
        672
      ],
      "id": "27865304-09d1-412f-a54a-60cd640b3b59",
      "name": "Publish video",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-youtube-title",
              "leftValue": "={{ $json.youtube_title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "has-youtube-description",
              "leftValue": "={{ $json.youtube_description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1900,
        500
      ],
      "id": "check-metadata-node-id",
      "name": "Check Metadata",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8000/api/v1/videos/pipeline",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_input",
              "value": "={{ $json.video_url }}"
            },
            {
              "name": "output_path",
              "value": "/home/node/downloads/{{ $json.id }}_processed.mp4"
            },
            {
              "name": "new_logo_url",
              "value": "={{ $json.new_logo_url }}"
            },
            {
              "name": "intro_url",
              "value": "={{ $json.intro_background_url }}"
            },
            {
              "name": "background_music",
              "value": "={{ $json.background_music_url }}"
            },
            {
              "name": "bg_music_volume",
              "value": "={{ $json.bg_music_volume }}"
            },
            {
              "name": "filter_nsfw",
              "value": "={{ $json.filter_nsfw == 'TRUE' }}"
            },
            {
              "name": "remove_text",
              "value": "={{ $json.remove_text == 'TRUE' }}"
            },
            {
              "name": "speed",
              "value": "={{ $json.speed }}"
            },
            {
              "name": "flip",
              "value": "={{ $json.flip == 'TRUE' }}"
            },
            {
              "name": "zoom",
              "value": "={{ $json.zoom }}"
            },
            {
              "name": "brightness",
              "value": "={{ $json.brightness }}"
            },
            {
              "name": "saturation",
              "value": "={{ $json.saturation }}"
            },
            {
              "name": "hue",
              "value": "={{ $json.hue }}"
            },
            {
              "name": "ocr_languages",
              "value": "={{ $json.ocr_languages }}"
            },
            {
              "name": "ocr_expand",
              "value": "={{ $json.ocr_expand }}"
            },
            {
              "name": "ocr_max_frames",
              "value": "={{ $json.ocr_max_frames }}"
            },
            {
              "name": "logo_width",
              "value": "={{ $json.logo_width }}"
            },
            {
              "name": "logo_height",
              "value": "={{ $json.logo_height }}"
            },
            {
              "name": "logo_padding",
              "value": "={{ $json.logo_padding }}"
            },
            {
              "name": "logo_position",
              "value": "={{ $json.logo_position }}"
            },
            {
              "name": "delogo_expand",
              "value": "={{ $json.delogo_expand }}"
            },
            {
              "name": "split_mode",
              "value": "={{ $json.split_mode }}"
            },
            {
              "name": "split_start",
              "value": "={{ $json.split_start }}"
            },
            {
              "name": "split_duration",
              "value": "={{ $json.split_duration }}"
            },
            {
              "name": "split_min_duration",
              "value": "={{ $json.split_min_duration }}"
            },
            {
              "name": "split_limit",
              "value": "={{ $json.split_limit }}"
            },
            {
              "name": "unique_mode",
              "value": "={{ $json.unique_mode == 'TRUE' }}"
            },
            {
              "name": "watermark_text",
              "value": "={{ $json.watermark_text }}"
            },
            {
              "name": "watermark_opacity",
              "value": "={{ $json.watermark_opacity }}"
            },
            {
              "name": "watermark_size",
              "value": "={{ $json.watermark_size }}"
            },
            {
              "name": "watermark_position",
              "value": "={{ $json.watermark_position }}"
            },
            {
              "name": "gemini_api_key",
              "value": "={{ $json.gemini_api_key }}"
            },
            {
              "name": "detect_json",
              "value": "={{ JSON.stringify($('Phát Hiện Logo (API)').first().json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "860938f2-4f65-4c27-a429-e5b59018f36f",
      "name": "Gửi Job Xử Lý (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        608,
        992
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "20d9c859-cc3a-4a45-a829-fe3ee32dcc60",
      "name": "Chờ Xử Lý",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1632,
        1312
      ],
      "webhookId": "7a513790-5ad5-420c-8a90-c5b4d06ee557"
    },
    {
      "parameters": {
        "url": "=http://172.17.0.1:8000/api/v1/jobs/{{ $json.data.job_id }}",
        "options": {}
      },
      "id": "a50020bd-65a1-4079-98b7-f84e5d2ed536",
      "name": "Kiểm Tra Trạng Thái",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1440,
        1312
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.status }}",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "4709a605-0579-4500-afc3-f195099d1d34",
      "name": "Đã Xử Lý Xong?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1040,
        1312
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2304,
        672
      ],
      "id": "93e6c997-11c4-43a3-bc73-6d24941039a1",
      "name": "Vòng Lặp Video"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const STATUS = {\n  SUCCESS: 'success',\n  ERROR: 'error',\n  NONE: 'none'\n};\n\nconst getNodeResult = (nodeName) => {\n  const node = $(nodeName);\n  if (!node || !node.isExecuted) return null;\n  return node.first();\n};\n\nconst extractUploadId = (uploadItem) => {\n  if (!uploadItem || uploadItem.error || !uploadItem.json) return null;\n  const json = uploadItem.json;\n  if (Array.isArray(json) && json.length > 0) return json[0].uploadId;\n  if (typeof json === 'object' && json !== null) return json.uploadId;\n  return null;\n};\n\nconst extractYouTubeLink = () => {\n  const uploadItem = getNodeResult('Upload To YouTube');\n  if (!uploadItem) return '';\n  const videoId = extractUploadId(uploadItem);\n  if (!videoId) return '';\n  const trimmedId = String(videoId).trim();\n  return trimmedId ? `https://www.youtube.com/watch?v=${trimmedId}` : '';\n};\n\nconst checkNodeError = (nodeName) => {\n  const item = getNodeResult(nodeName);\n  if (!item) return null;\n  if (item.error) return item.error.message;\n  \n  if (item.json && item.json.stderr) {\n    const stderr = String(item.json.stderr);\n    \n    if (stderr.includes('ffmpeg version')) {\n      const lines = stderr.split('\\n');\n      const errorLines = lines.filter(line => \n        line.toLowerCase().includes('error') || \n        line.toLowerCase().includes('failed') ||\n        line.toLowerCase().includes('cannot') ||\n        line.toLowerCase().includes('invalid')\n      );\n      if (errorLines.length > 0) {\n        return errorLines.join('\\n').substring(0, 300);\n      }\n      if (item.json.exitCode && item.json.exitCode !== 0) {\n        return 'FFmpeg execution failed';\n      }\n      return null;\n    }\n    \n    if (stderr.includes('--') && (stderr.includes('wget') || stderr.includes('HTTP'))) {\n      const lines = stderr.split('\\n');\n      const errorLines = lines.filter(line => \n        line.toUpperCase().includes('ERROR') || \n        line.toLowerCase().includes('failed') ||\n        line.includes('404') ||\n        line.includes('403') ||\n        line.includes('500') ||\n        line.toLowerCase().includes('not found')\n      );\n      if (errorLines.length > 0) {\n        return errorLines.join('\\n').substring(0, 300);\n      }\n      if (item.json.exitCode && item.json.exitCode !== 0) {\n        return 'Download failed';\n      }\n      return null;\n    }\n    \n    return stderr.substring(0, 300);\n  }\n  \n  if (item.json && item.json.exitCode && item.json.exitCode !== 0) {\n    return 'Node execution failed';\n  }\n  \n  return null;\n};\n\nconst getDriveLinkFromNode = () => {\n  const driveLinkItem = getNodeResult('Get Drive Link');\n  if (!driveLinkItem || driveLinkItem.error || !driveLinkItem.json || !driveLinkItem.json.stdout) return null;\n  return String(driveLinkItem.json.stdout).trim();\n};\n\nconst getTimestamp = () => {\n  return new Date().toLocaleString('vi-VN', {\n    timeZone: 'Asia/Ho_Chi_Minh',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit'\n  });\n};\n\nconst getCurrentVideoInfo = () => {\n  const currentItem = $input.item;\n  \n  if (currentItem && currentItem.json && currentItem.json.id) {\n    return currentItem.json;\n  }\n  \n  const getVideoInfoAfterUpload = $('Lấy Info Sau Upload');\n  if (getVideoInfoAfterUpload && getVideoInfoAfterUpload.isExecuted) {\n    const item = getVideoInfoAfterUpload.first();\n    if (item && item.json && item.json.id) {\n      return item.json;\n    }\n  }\n  \n  const getVideoInfoForCheck = $('Lấy Info Check YT');\n  if (getVideoInfoForCheck && getVideoInfoForCheck.isExecuted) {\n    const item = getVideoInfoForCheck.first();\n    if (item && item.json && item.json.id) {\n      return item.json;\n    }\n  }\n  \n  const mergeData = $('Gộp Data Upload YT');\n  if (mergeData && mergeData.isExecuted) {\n    const item = mergeData.first();\n    if (item && item.json && item.json.id) {\n      return item.json;\n    }\n  }\n  \n  const getVideoInfo = $('Lấy Thông Tin Video');\n  if (getVideoInfo && getVideoInfo.isExecuted) {\n    const allItems = getVideoInfo.all();\n    if (allItems && allItems.length > 0) {\n      const currentId = currentItem?.json?.id;\n      if (currentId) {\n        const matchedItem = allItems.find(item => item.json && item.json.id === currentId);\n        if (matchedItem) return matchedItem.json;\n      }\n      const loopItems = $('Vòng Lặp Video');\n      if (loopItems && loopItems.isExecuted) {\n        const loopItem = loopItems.first();\n        if (loopItem && loopItem.json && loopItem.json.id) {\n          const matchedItem = allItems.find(item => item.json && item.json.id === loopItem.json.id);\n          if (matchedItem) return matchedItem.json;\n        }\n      }\n      return allItems[0].json;\n    }\n  }\n  \n  return null;\n};\n\nconst videoInfo = getCurrentVideoInfo() || $('Lấy Thông Tin Video').first().json;\nconst youtubeLink = extractYouTubeLink();\nconst driveLink = getDriveLinkFromNode() || videoInfo.processed_video_drive_link;\n\nconst checkAlreadyProcessed = () => {\n  const setResultStatusNode = $('Tổng Hợp Kết Quả');\n  if (!setResultStatusNode || !setResultStatusNode.isExecuted) return false;\n  const allResults = setResultStatusNode.all();\n  if (!allResults || allResults.length === 0) return false;\n  const currentId = videoInfo.id;\n  if (!currentId) return false;\n  const processedIds = allResults\n    .map(item => item.json && item.json.id)\n    .filter(id => id && id === currentId);\n  return processedIds.length > 0;\n};\n\nif (checkAlreadyProcessed()) {\n  return {\n    json: {\n      status: STATUS.NONE,\n      errorMessage: '',\n      id: videoInfo.id,\n      videoTitle: videoInfo.video_title || videoInfo.youtube_title,\n      videoUrl: videoInfo.video_url,\n      driveLink,\n      youtubeLink,\n      publishStatus: videoInfo.publish_status ? String(videoInfo.publish_status).toLowerCase() : '',\n      timestamp: getTimestamp(),\n      skip: true\n    }\n  };\n}\n\nconst errorNodes = ['Process Video', 'Download Video', 'Upload to Drive', 'Get Drive Link', 'Insert Background Intro', 'Download Processed Video From Drive', 'Extract Frame', 'Read Processed Video For YouTube', 'Merge Data For YouTube Check'];\nconst uploadError = checkNodeError('Upload To YouTube');\nconst execErrors = errorNodes.map(node => checkNodeError(node)).filter(e => e);\nconst firstError = uploadError || execErrors[0];\n\nconst status = firstError ? STATUS.ERROR : (youtubeLink ? STATUS.SUCCESS : STATUS.NONE);\nconst errorMessage = firstError ? String(firstError).substring(0, 300) : '';\n\nreturn {\n  json: {\n    status,\n    errorMessage,\n    id: videoInfo.id,\n    videoTitle: videoInfo.video_title || videoInfo.youtube_title,\n    videoUrl: videoInfo.video_url,\n    driveLink,\n    youtubeLink,\n    publishStatus: videoInfo.publish_status ? String(videoInfo.publish_status).toLowerCase() : '',\n    timestamp: getTimestamp()\n  }\n};"
      },
      "id": "cc3fed7e-9cbc-4025-aece-3486ffeaf0f5",
      "name": "Tổng Hợp Kết Quả",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        432
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09QG88TFJM",
          "mode": "id"
        },
        "text": "={{ (() => { const STATUS = { SUCCESS: 'success', ERROR: 'error', NONE: 'none' }; const MESSAGE = { SUCCESS_PREFIX: '✅ Video xử lý thành công', ERROR_PREFIX: '🔴 Lỗi xử lý video' }; const status = $json.status; if (status === STATUS.NONE || $json.skip === true) return ''; const id = $json.id; const videoTitle = $json.videoTitle; const videoUrl = $json.videoUrl; const driveLink = $json.driveLink; const youtubeLink = $json.youtubeLink; const errorMessage = $json.errorMessage; const timestamp = $json.timestamp; if (status === STATUS.SUCCESS) { return `${MESSAGE.SUCCESS_PREFIX}\\nID: ${id}\\nTiêu đề: ${videoTitle}\\nYouTube: ${youtubeLink}\\nDrive: ${driveLink}\\nThời gian: ${timestamp}`; } else if (status === STATUS.ERROR) { return `${MESSAGE.ERROR_PREFIX}\\nID: ${id}\\nTiêu đề: ${videoTitle}\\nLỗi: ${errorMessage}\\nGốc: ${videoUrl}\\n${driveLink ? 'Drive: ' + driveLink : ''}${youtubeLink ? '\\nYouTube: ' + youtubeLink : ''}\\nThời gian: ${timestamp}`; } return ''; })() }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        240,
        16
      ],
      "id": "9a8ccee9-4c49-4a46-b298-fc7a7cd20c0a",
      "name": "Gửi Slack",
      "executeOnce": true,
      "webhookId": "ee2d48b4-7741-4eda-be7e-f299880b5106",
      "credentials": {
        "slackApi": {
          "id": "r5gqdIaSja4mpw9V",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "command": "=THUMB_URL=\"{{ $json.thumbnail_url }}\"\nVIDEO_ID=\"{{ $json.id }}\"\nOUTPUT=\"/home/node/downloads/thumb_${VIDEO_ID}.jpg\"\n\n[ -z \"$THUMB_URL\" ] && exit 0\n\n# Extract Google Drive file ID if it's a drive link\nFILE_ID=$(echo \"$THUMB_URL\" | sed -n 's/.*\\/d\\/\\([^\\/]*\\)\\/.*/\\1/p')\n[ -z \"$FILE_ID\" ] && FILE_ID=$(echo \"$THUMB_URL\" | sed -n 's/.*[?&]id=\\([^&]*\\).*/\\1/p')\n\nif [ -n \"$FILE_ID\" ]; then\n  URL=\"https://drive.google.com/uc?export=download&id=${FILE_ID}\"\nelse\n  URL=\"$THUMB_URL\"\nfi\n\nwget -q \"$URL\" -O \"$OUTPUT\" 2>&1\n\n[ -s \"$OUTPUT\" ] && echo \"$OUTPUT\" || echo \"\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -368,
        240
      ],
      "id": "6eff1e78-773e-4031-81ea-0f4ec8590dbf",
      "name": "Tải Thumbnail",
      "continueOnFail": true
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -160,
        240
      ],
      "id": "9f4d9192-b1fb-41b5-a5b6-3bc2c6039825",
      "name": "Đọc Thumbnail",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const videoInfo = $('Gộp Data Upload YT').first().json;\nconst videoData = $('Gộp Data Upload YT').first();\nconst currentItem = $input.item;\n\nconst result = {\n  json: { ...videoInfo },\n  binary: {\n    data: videoData.binary.data\n  }\n};\n\nif (currentItem.binary && currentItem.binary.data && currentItem.binary.data.mimeType) {\n  const thumbBinary = currentItem.binary.data;\n  if (thumbBinary.mimeType.startsWith('image/')) {\n    result.binary.thumbnail = thumbBinary;\n    result.json.has_thumbnail = true;\n  }\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        432
      ],
      "id": "74897dff-f209-4f85-82f6-b144c788fb8f",
      "name": "Gộp Binary Thumbnail",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "thumbnail-url-check",
              "leftValue": "={{ $json.thumbnail_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        240
      ],
      "id": "8e931fbf-644b-4350-af34-d8174b36843d",
      "name": "Check Thumbnail",
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Bạn là chuyên gia tối ưu hóa metadata YouTube. Nhiệm vụ của bạn là tạo tiêu đề và mô tả YouTube mới dựa trên video_title đầu vào.\n\nDỮ LIỆU ĐẦU VÀO:\nvideo_title: ={{ $json.video_title }}\n\n========================================\nYÊU CẦU BẮT BUỘC CHO TIÊU ĐỀ (youtube_title)\n========================================\n- Độ dài: CHÍNH XÁC 60-100 ký tự (tính toàn bộ ký tự, bao gồm khoảng trắng)\n- Tiêu đề phải hấp dẫn, thu hút click và tối ưu SEO\n- Phải chứa từ khóa chính liên quan đến video_title đầu vào\n- Dùng Title Case hoặc Sentence Case (một kiểu duy nhất)\n- KHÔNG được dùng emoji hoặc ký tự đặc biệt (ngoại trừ dấu chấm, phẩy, dấu gạch)\n- Không được thừa khoảng trắng ở đầu hoặc cuối\n\n========================================\nYÊU CẦU BẮT BUỘC CHO MÔ TẢ (youtube_description)\n========================================\n- Độ dài: 200-5000 ký tự (tối thiểu 200, tối ưu 500-2000)\n- 2-3 dòng đầu phải chứa từ khóa chính của video_title và thu hút người xem\n- Nội dung phải liên quan chặt chẽ tới video, mô tả rõ ràng giá trị video\n- Có thể thêm lời kêu gọi hành động (Subscribe, Like)\n- Có thể thêm timestamp, link, hoặc hashtag (3-10 hashtag) nếu phù hợp\n- Sử dụng ký tự \\n để xuống dòng (không xuống dòng thật)\n- Không được thừa khoảng trắng ở đầu hoặc cuối\n\n========================================\nYÊU CẦU VỀ ĐỊNH DẠNG OUTPUT (CỰC KỲ QUAN TRỌNG - SẼ ĐƯỢC PARSE BẰNG JSON.parse())\n========================================\nBạn PHẢI trả về DUY NHẤT một JSON object hợp lệ có đúng 2 trường:\n\n{\"youtube_title\":\"...\",\"youtube_description\":\"...\"}\n\nQUY ĐỊNH NGHIÊM NGẶT:\n- KHÔNG được dùng markdown code blocks (```json, ```)\n- KHÔNG có văn bản giải thích bên ngoài JSON\n- KHÔNG có comment trong JSON (//, /* */)\n- KHÔNG có trailing comma\n- KHÔNG được trả về array ([{...}])\n- KHÔNG được thêm bất kỳ trường nào khác\n- Tất cả giá trị phải là string, dùng dấu nháy kép \"\n- Escape special characters đúng cách: \\\" cho quotes, \\\\ cho backslash, \\n cho newline\n- JSON phải hợp lệ và parse được bằng JSON.parse()\n- Field names PHẢI chính xác: \"youtube_title\" và \"youtube_description\" (lowercase, underscore)\n\nVÍ DỤ FORMAT ĐÚNG:\n{\"youtube_title\":\"This Is An Example YouTube Title That Is Between 60 And 100 Characters Long\",\"youtube_description\":\"This is an example description that must be at least 200 characters long to meet the requirements. It should include relevant keywords and be engaging for viewers. You can add more content here to reach the minimum character count. This description should provide value and encourage viewers to watch the video.\"}\n\n========================================\nĐIỀU KIỆN BẮT BUỘC PHẢI ĐẠT\n========================================\n- youtube_title: 60-100 ký tự (inclusive), non-empty string\n- youtube_description: 200-5000 ký tự (inclusive), non-empty string\n- Cả hai field đều bắt buộc, không được null hoặc undefined\n- KHÔNG được dùng emoji\n- Response phải parse được bằng JSON.parse() không lỗi\n\n========================================\nHÃY TIẾN HÀNH TẠO TIÊU ĐỀ VÀ MÔ TẢ NGAY BÂY GIỜ.\nCHỈ TRẢ VỀ ĐÚNG JSON OBJECT, KHÔNG THÊM BẤT KỲ THỨ GÌ KHÁC.\nKHÔNG CÓ MARKDOWN, KHÔNG CÓ GIẢI THÍCH, CHỈ CÓ JSON OBJECT THUẦN TÚY.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2192,
        1568
      ],
      "id": "4112ddab-f41d-4b3f-abb4-9352d3794ea2",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "H1JSwNE1NdapUMQa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Publish video": {
      "main": [
        [
          {
            "node": "Check Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trích Xuất URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Metadata": {
      "main": [
        [
          {
            "node": "Tải Video Đã Xử Lý",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Lịch Trình": {
      "main": [
        [
          {
            "node": "Lấy Thông Tin Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Thông Tin Video": {
      "main": [
        [
          {
            "node": "Vòng Lặp Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tải Video Đã Xử Lý": {
      "main": [
        [
          {
            "node": "Đọc Video Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trích Xuất URL": {
      "main": [
        [
          {
            "node": "Lấy Metadata YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Metadata YouTube": {
      "main": [
        [
          {
            "node": "Gộp Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gộp Metadata": {
      "main": [
        [
          {
            "node": "Dọn File Cũ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dọn File Cũ": {
      "main": [
        [
          {
            "node": "Tải Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tải Video": {
      "main": [
        [
          {
            "node": "Đọc File Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc File Video": {
      "main": [
        [
          {
            "node": "Xóa Binary Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xóa Binary Video": {
      "main": [
        [
          {
            "node": "Trích Xuất Frame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trích Xuất Frame": {
      "main": [
        [
          {
            "node": "Phát Hiện Logo (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phát Hiện Logo (API)": {
      "main": [
        [
          {
            "node": "Gửi Job Xử Lý (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi Job Xử Lý (API)": {
      "main": [
        [
          {
            "node": "Chờ Xử Lý",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chờ Xử Lý": {
      "main": [
        [
          {
            "node": "Kiểm Tra Trạng Thái",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm Tra Trạng Thái": {
      "main": [
        [
          {
            "node": "Đã Xử Lý Xong?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đã Xử Lý Xong?": {
      "main": [
        [
          {
            "node": "Gửi Job Upload (API)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chờ Xử Lý",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi Job Upload (API)": {
      "main": [
        [
          {
            "node": "Chờ Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chờ Upload": {
      "main": [
        [
          {
            "node": "Kiểm Tra Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm Tra Upload": {
      "main": [
        [
          {
            "node": "Đã Upload Xong?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đã Upload Xong?": {
      "main": [
        [
          {
            "node": "Lấy Link Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chờ Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Link Drive": {
      "main": [
        [
          {
            "node": "Cập Nhật Link Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập Nhật Link Drive": {
      "main": [
        [
          {
            "node": "Lấy Info Check YT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Info Check YT": {
      "main": [
        [
          {
            "node": "Check Upload YT (Sau Drive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Upload YT (Sau Drive)": {
      "main": [
        [
          {
            "node": "Tải Video Đã Xử Lý",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc Video Upload": {
      "main": [
        [
          {
            "node": "Gộp Data Upload YT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gộp Data Upload YT": {
      "main": [
        [
          {
            "node": "Check Điều Kiện Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Điều Kiện Upload": {
      "main": [
        [
          {
            "node": "Check Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tải Thumbnail": {
      "main": [
        [
          {
            "node": "Đọc Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc Thumbnail": {
      "main": [
        [
          {
            "node": "Gộp Binary Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gộp Binary Thumbnail": {
      "main": [
        [
          {
            "node": "Upload YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload YouTube": {
      "main": [
        [
          {
            "node": "Xóa Binary Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xóa Binary Upload": {
      "main": [
        [
          {
            "node": "Cập Nhật Trạng Thái Cuối",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập Nhật Trạng Thái Cuối": {
      "main": [
        [
          {
            "node": "Lấy Info Sau Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Info Sau Upload": {
      "main": [
        [
          {
            "node": "Tổng Hợp Kết Quả",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vòng Lặp Video": {
      "main": [
        [],
        [
          {
            "node": "Publish video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tổng Hợp Kết Quả": {
      "main": [
        [
          {
            "node": "Gửi Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi Slack": {
      "main": [
        [
          {
            "node": "Vòng Lặp Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Thumbnail": {
      "main": [
        [
          {
            "node": "Tải Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Metadata": {
      "main": [
        [
          {
            "node": "Tải Video Đã Xử Lý",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "003a81f7-1cb2-4cff-b36e-a179e509a8c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85d7322ab387263001b31b703ad4747f32bd4ef2ff67525ffd22eeafb96c1d17"
  },
  "id": "qV46dY3qT0KsSziC",
  "tags": []
}
